import { MenuDataItem, Settings as ProSettings } from '@ant-design/pro-layout';
import { GlobalModelState } from './global';
import { UserModelState } from './user';
import { StateType } from './login';
import { MenuModelState } from './menu';
{% for table in tables %}
import { {{table.ENTITY_CLASS_NAME}}ModelState } from '@/models/{{table.MODULE_NAME}}/{{table.ENTITY_FILE_NAME}}.model';
{% endfor %}

export { GlobalModelState, UserModelState };

export interface Loading {
  global: boolean;
  effects: { [key: string]: boolean | undefined };
  models: {
    global?: boolean;
    menu?: boolean;
    setting?: boolean;
    user?: boolean;
    login?: boolean;
  };
}

export interface ConnectState {
  global: GlobalModelState;
  loading: Loading;
  settings: ProSettings;
  user: UserModelState;
  login: StateType;
  menu: MenuModelState;
  {% for table in tables %}
  {{table.TABLE_NAME|lower}}:{{table.ENTITY_CLASS_NAME}}ModelState;
  {% endfor %}
}

export interface Route extends MenuDataItem {
  routes?: Route[];
}
