import React from 'react';
import { Form, Input, Modal } from 'antd';
import { FormattedMessage,useIntl } from 'umi';
import { {{entityCLassName}}Item } from "@/pages/{{restUrlPrefix}}/data";
import ProForm from '@ant-design/pro-form';

/**
 * {{tableName}}-创建记录表单的输入参数
 * @author {{author}}
 * @date {{date}}
 **/
interface {{entityCLassName}}CreateFormProps {
    onSubmit: (fields: {{entityCLassName}}Item) =>void,
    onCancel: () => void;
    visible: boolean;
}

/**
 * {{tableName}}-创建记录表单
 * @author {{author}}
 * @date {{date}}
 **/
const {{entityCLassName}}CreateForm: React.FC<{{entityCLassName}}CreateFormProps> = (props) => {
    const {visible, onCancel, onSubmit} = props;
    const [form] = Form.useForm();
    const intl=useIntl();

    /**
    * 点击确定按钮的操作方法
    * @author {{author}}
    * @date {{date}}
    **/
    const handleOk = async () => {
        const fieldValues = await form.validateFields();
        const { {% for column in columns %}{{column.columnName}}{% if !(loop.last) %},{% endif %}{% endfor %} }=fieldValues;
        onSubmit({ {% for column in columns %}{{column.columnName}}{% if !(loop.last) %},{% endif %}{% endfor %} });
    };

    /**
    * 点击取消按钮的操作方法
    * @author jiang
    * @date 2020-12-19 14:05:15
    **/
    const handleCancel = async () => {
        await form.resetFields();
        onCancel();
    };

    return (
        <Modal
            destroyOnClose
            getContainer={false}
            title={
                <FormattedMessage id='pages.create.{{entityFileName}}.form.title' defaultMessage='新建'/>
            }
            visible={visible}
            onCancel={() => handleCancel()}
            onOk={() => handleOk()}
        >
            <ProForm form={form} submitter={false}>
                {% for column in fcucolumns %}
                <Form.Item
                        name="{{column.columnName}}"
                        label={<FormattedMessage id="pages.create.{{entityFileName}}.{{column.columnName}}.label" defaultMessage="{{column.COLUMN_COMMENT || column.columnName}}"/>}
                        rules={[
                          {
                            required: true,
                            message: (<FormattedMessage id="pages.create.{{entityFileName}}.{{column.columnName}}.tip" defaultMessage="{{column.COLUMN_COMMENT || column.columnName}}为必填项"/>),
                          },{% if col.COLUMN_LEN > 0 %}
                          {
                            max:{{col.COLUMN_LEN}},
                            message:(intl.formatMessage({
                                id: 'pages.create.{{entityFileName}}.{{col.columnName}}.length.tip',
                                defaultMessage: '最多可输入{{col.COLUMN_LEN}}个字符!',
                            })),
                          },{% endif %}
                        ]}
                >
                    <Input placeholder={intl.formatMessage({id:"pages.create.{{entityFileName}}.{{column.columnName}}.placeholder",defaultMessage:"{{column.COLUMN_COMMENT || column.columnName}}"})}/>
                </Form.Item>
                {% endfor %}
            </ProForm>
        </Modal>
    );
};

export default {{entityCLassName}}CreateForm;
