import { {{entityCLassName}}Item } from "@/pages/{{restUrlPrefix}}/data";
import React from 'react';
import { useIntl } from 'umi';
import { Button, Col, Drawer, Form, Input, Row } from 'antd';
import ProForm from '@ant-design/pro-form';

/**
 * {{tableName}}-创建记录表单的输入参数
 * @author {{author}}
 * @date {{date}}
 **/
interface {{entityCLassName}}CreateFormProps {
  visible: boolean;
  onCancel: () => void;
  onSubmit: (fields: {{entityCLassName}}Item) => void;
}

/**
 * {{tableName}}-创建记录表单
 * @author {{author}}
 * @date {{date}}
 **/
const {{entityCLassName}}CreateForm: React.FC<{{entityCLassName}}CreateFormProps> = (props) => {
  const { visible, onCancel, onSubmit } = props;
  const intl = useIntl();
  const [form] = Form.useForm();

  /**
   * 点击更新按钮的操作
   * @author {{author}}
   * @date {{date}}
   **/
  const handleOk = async () => {
    const fieldValues = await form.validateFields();
    const { {% for column in columns %}{{column.columnName}}{% if !(loop.last) %},{% endif %}{% endfor %} }=fieldValues;
    onSubmit({ {% for column in columns %}{{column.columnName}}{% if !(loop.last) %},{% endif %}{% endfor %} });
  };

  /**
   * 点击取消按钮的操作
   * @author {{author}}
   * @date {{date}}
   **/
  const handleCancel = async () => {
    await form.resetFields();
    onCancel();
  };

  return (
    <>
      <Drawer
        destroyOnClose
        getContainer={false}
        title={intl.formatMessage({ id: 'pages.create.{{entityFileName}}.form.title', defaultMessage: '创建' })}
        width={720}
        onClose={onCancel}
        visible={visible}
        bodyStyle={ { paddingBottom: 80 } }
        closable={true}
        footer={
          <div
            style={ { textAlign: 'right',} }
          >
            <Button onClick={() => handleCancel()} style={ { marginRight: 8 } }>
              {intl.formatMessage({ id: 'pages.create.{{entityFileName}}.cancel', defaultMessage: '取消' })}
            </Button>
            <Button onClick={() => handleOk()} type="primary">
              {intl.formatMessage({ id: 'pages.create.{{entityFileName}}.submit', defaultMessage: '提交' })}
            </Button>
          </div>
        }
      >
        <ProForm layout="vertical" submitter={false} form={form}>
          {% for fcols in fdcolumns %}
          <Row gutter={16}>
            {% for col in fcols %}
            <Col span={12}>
              <Form.Item
                name="{{col.columnName}}"
                label={intl.formatMessage({
                  id: 'pages.create.{{entityFileName}}.{{col.columnName}}.label',
                  defaultMessage: '{{col.COLUMN_COMMENT || col.columnName}}',
                })}
                rules={[
                    {
                      required: true,
                      message: (intl.formatMessage({
                        id: 'pages.create.{{entityFileName}}.{{col.columnName}}.tip',
                        defaultMessage: '{{col.COLUMN_COMMENT || col.columnName}}是必填项!',
                      })),
                    },{% if col.COLUMN_LEN > 0 %}
                    {
                      max:{{col.COLUMN_LEN}},
                      message:(intl.formatMessage({
                         id: 'pages.create.{{entityFileName}}.{{col.columnName}}.length.tip',
                         defaultMessage: '最多可输入{{col.COLUMN_LEN}}个字符!',
                      })),
                    },{% endif %}
                ]}
              >
                <Input placeholder={intl.formatMessage({
                  id: 'pages.create.{{entityFileName}}.{{col.columnName}}.placeholder',
                  defaultMessage: '{{col.COLUMN_COMMENT || col.columnName}}',
                })} />
              </Form.Item>
            </Col>
            {% endfor %}
          </Row>
          {% endfor %}
        </ProForm>
      </Drawer>
    </>
  );

};

export default {{entityCLassName}}CreateForm;
