/**
 * {{tableName}}-字段信息
 * @author {{author}}
 * @date {{date}}
 */
export interface {{entityCLassName}}Item {
    {% for column in columns %}
    {{column.columnName}}: {{column.JS_TYPE}};
    {% endfor %}

    cols?: string[];
}

/**
 * {{tableName}}-分页参数
 * @author {{author}}
 * @date {{date}}
 */
export interface {{entityCLassName}}Pagination {
    total: number;
    pageSize: number;
    current: number;
    pageNum: number;
}

/**
 * {{tableName}}-表格数据
 * @author {{author}}
 * @date {{date}}
 */
export interface {{entityCLassName}}TableData {
    list: {{entityCLassName}}Item[];
    pagination: Partial<{{entityCLassName}}Pagination>;
}

/**
 * {{tableName}}-查询参数
 * @author {{author}}
 * @date {{date}}
 */
export interface {{entityCLassName}}Params extends {{entityCLassName}}Item {
    pageSize?: number;
    current: number;
    pageNum: number;
    filter?: { [key: string]: any[] };
    sorter?: { [key: string]: any };
    n{{primerKey.columnName}}?: string;
    {{primerKey.columnName}}List?: string[];
}
