/**
* {{tableName}}-{{tableComment}}表列名接口定义，用于为某些类提供参数名限制
* @date {{date}}
* @author {{author}}
* @class {{entityCLassName}}ColNames
*/
export interface {{entityCLassName}}ColNames {
    {% for column in columns %}
    /**
     * @description {{column.COLUMN_COMMENT}}
     * @field {{column.COLUMN_NAME}}
     */
    {{column.COLUMN_NAME}}:{{column.JS_TYPE}},//
    {% endfor %}
}
/**
* {{tableName}}-{{tableComment}}表列名的属性名接口定义，用于为某些类提供参数名限制
* @date {{date}}
* @author {{author}}
* @class {{entityCLassName}}ColProps
*/
export interface {{entityCLassName}}ColProps {
    {% for column in columns %}
    /**
    * @description {{column.COLUMN_COMMENT}}
    * @field {{column.columnName}}
    */
    {{column.columnName}}:{{column.JS_TYPE}},//
    {% endfor %}
}
/**
* {{tableName}}-{{tableComment}}表列名
* @date {{date}}
* @author {{author}}
* @class {{className}}
*/
export const {{entityCLassName}}ColName= {
    {% for column in columns %}
    /**
     * @description {{column.COLUMN_COMMENT}}
     * @field {{column.COLUMN_NAME}}
     */
    {{column.COLUMN_NAME}}:"{{column.COLUMN_NAME}}",//
    {% endfor %}
}
/**
* {{tableName}}-{{tableComment}}表列属性名
* @date {{date}}
* @author {{author}}
* @class {{className}}
*/
export const {{entityCLassName}}ColProp= {
    {% for column in columns %}
    /**
    * @description {{column.COLUMN_COMMENT}}
    * @field {{column.columnName}}
    */
    {{column.columnName}}:"{{column.columnName}}",//
    {% endfor %}
}
/**
* {{tableName}}-{{tableComment}}表信息
* @date {{date}}
* @author {{author}}
* @export
* @class {{entityCLassName}}Table
*/
export const {{entityCLassName}}Table={
    /**
    * @description {{primerKey.COLUMN_NAME}}
    * @field PRIMER_KEY
    */
    PRIMER_KEY:'{{primerKey.COLUMN_NAME}}',
    /**
    * @description {{primerKey.COLUMN_COMMENT}}
    * @field primerKey
    */
    primerKey:'{{primerKey.columnName}}',
    /**
    * @description {{tableName}}
    * @field TABLE_NAME
    */
    TABLE_NAME:'{{tableName}}',
    /**
    * @description {{entityCLassName}}
    * @field ENTITY_NAME
    */
    ENTITY_NAME:'{{entityCLassName}}',
}