import { useEffect } from 'react';
import { Dispatch } from 'umi';

/**
 * 剥离出{{tableName}}表相关的数据加载等逻辑，包装useEffect为方法，主要是为了提高复用性
 * @author {{author}}
 * @date {{date}}
 **/
export const {{tableName|upper}}_EFFECTS = {
  /**
   * 加载{{tableName}}-{{tableComment}}表的所有数据信息
   * @author {{author}}
   * @date {{date}}
   **/
  LOAD_ALL: (dispatch: Dispatch, deps?: any[]) => {
   useEffect(() => {
     dispatch({
        type: '{{tableName|lower}}/fetchAll',
     });
   }, deps || []);
  },
};


