import { {{entityCLassName}}Item } from '@/pages/{{restUrlPrefix}}/data';
import { message } from 'antd';
import { {{entityCLassName}}Service } from '@/services/{{moduleName}}/{{entityFileName}}.service';
import { LocaleContext } from '@/common/locales/locale';

/**
 * {{tableName}}-增、删、改表单数据操作句柄
 * @author {{author}}
 * @date {{date}}
 **/
export class {{entityCLassName}}Handles {

  /**
   * 添加记录
   * @param fields
   */
  add = async (fields: {{entityCLassName}}Item) => {
    const hide = message.loading(LocaleContext.message({
      id: 'page.{{entityFileName}}.add.loading',
      defaultMessage: '正在添加',
    }));
    try {
      await {{entityCLassName}}Service.add({ ...fields });
      hide();
      message.success(LocaleContext.message({
        id: 'page.{{entityFileName}}.add.success',
        defaultMessage: '添加成功',
      }));
      return true;
    } catch (error) {
      hide();
      message.error(LocaleContext.message({
        id: 'page.{{entityFileName}}.add.error',
        defaultMessage: '添加失败请重试！',
      }));
      return false;
    }
  };


  /**
   * 更新记录
   * @param fields 更新信息
   */
  update = async (fields: {{entityCLassName}}Item) => {
    const hide = message.loading(LocaleContext.message({
      id: 'page.{{entityFileName}}.update.loading',
      defaultMessage: '正在更新',
    }));
    try {
      await {{entityCLassName}}Service.update(fields);
      hide();

      message.success(LocaleContext.message({
        id: 'page.{{entityFileName}}.update.success',
        defaultMessage: '更新成功',
      }));
      return true;
    } catch (error) {
      hide();
      message.error(LocaleContext.message({
        id: 'page.{{entityFileName}}.update.error',
        defaultMessage: '更新失败请重试！',
      }));
      return false;
    }
  };

  /**
   * 删除选中行数据
   * @param selectedRows 选中行记录列表
   * @return
   * @author jiang
   * @date 2020-12-18 23:00:13
   **/
  deleteByIds = async (selectedRows: {{entityCLassName}}Item[]) => {
    const hide = message.loading(LocaleContext.message({
      id: 'page.{{entityFileName}}.delete.loading',
      defaultMessage: '正在删除',
    }));
    if (!selectedRows) return true;
    try {
      await {{entityCLassName}}Service.deleteByIds(selectedRows.map(row => row.{{primerKey.columnName}}));
      hide();
      message.success(LocaleContext.message({
        id: 'page.{{entityFileName}}.delete.success',
        defaultMessage: '删除成功，即将刷新!',
      }));
      return true;
    } catch (error) {
      hide();
      message.error(LocaleContext.message({
        id: 'page.{{entityFileName}}.delete.error',
        defaultMessage: '删除失败，请重试!',
      }));
      return false;
    }
  };


  /**
   * 删除选中行数据
   * @param record 被删除的记录
   * @return
   * @author jiang
   * @date 2020-12-18 23:00:13
   **/
  deleteById = async (record: {{entityCLassName}}Item) => {
    const hide = message.loading(LocaleContext.message({
      id: 'page.{{entityFileName}}.delete.loading',
      defaultMessage: '正在删除',
    }));
    if (!record) return true;
    try {
      await {{entityCLassName}}Service.deleteById(record.{{primerKey.columnName}});
      hide();
      message.success(LocaleContext.message({
        id: 'page.{{entityFileName}}.delete.success',
        defaultMessage: '删除成功，即将刷新!',
      }));
      return true;
    } catch (error) {
      hide();
      message.error(LocaleContext.message({
        id: 'page.{{entityFileName}}.delete.error',
        defaultMessage: '删除失败，请重试!',
      }));
      return false;
    }
  };

};
