import { DeleteOutlined, PlusOutlined } from '@ant-design/icons';
import { Button, Divider, Drawer, Popconfirm } from 'antd';
import React, { useRef, useState } from 'react';
import { Dispatch,FormattedMessage,useIntl } from 'umi';
import { FooterToolbar, PageContainer } from '@ant-design/pro-layout';
import ProTable, { ActionType, ProColumns } from '@ant-design/pro-table';
import ProDescriptions from '@ant-design/pro-descriptions';
import { {{entityCLassName}}Service } from '@/services/{{moduleName}}/{{entityFileName}}.service';
import { {{entityCLassName}}Item } from '@/pages/{{restUrlPrefix}}/data';
import { {{entityCLassName}}Handles } from '@/pages/{{restUrlPrefix}}/handles';
import {{entityCLassName}}CreateForm from '@/pages/{{restUrlPrefix}}/create.form';
import {{entityCLassName}}UpdateForm from '@/pages/{{restUrlPrefix}}/update.form';
{% if hasTimeCol %}import { MLOCALES } from '@/common/locales/locale';{% endif %}
{% if hasTimeCol %}import * as moment from 'moment';{% endif %}

interface {{entityCLassName}}TableListProps {
    dispatch: Dispatch;
}

/**
 * {{tableName}}-列表查询
 * @author {{author}}
 * @date {{date}}
 **/
const {{entityCLassName}}TableList: React.FC<{{entityCLassName}}TableListProps> = (props) => {
    const [createVisible, handleCreateVisible] = useState<boolean>(false);
    const [updateVisible, handleUpdateVisible] = useState<boolean>(false);
    const [formValues, setFormValues] = useState({});
    const actionRef = useRef<ActionType>();
    const [row, setRow] = useState<{{entityCLassName}}Item>();
    const [selectedRowsState, setSelectedRows] = useState<{{entityCLassName}}Item[]>([]);
    const handles = new {{entityCLassName}}Handles();
    //const { dispatch } = props;
    const intl=useIntl();

    //定义列信息
    const columns: ProColumns<{{entityCLassName}}Item>[] = [
        {
            dataIndex: '{{primerKey.columnName}}',
            sorter: false,
            valueType: 'text',
            search: false,
            hideInForm: true,
            hideInTable: true,
            hideInDescriptions: true,
        },
        {% for column in fcolumns %}
        {
            title: <FormattedMessage id="pages.list.{{entityFileName}}.{{column.columnName}}.label" defaultMessage="{{column.COLUMN_COMMENT || column.columnName}}" />,
            tooltip: (intl.formatMessage({
                id: 'pages.list.{{entityFileName}}.{{column.columnName}}.tip',
                defaultMessage: '{{column.COLUMN_COMMENT || column.columnName}}查询',
            })),
            dataIndex: '{{column.columnName}}',
            {% if column.JS_TYPE == 'Date' %}valueType:'date',search : false,hideInForm: true,{% endif %}{% if column.JS_TYPE == 'string' %}valueType:'text',{% endif %}{% if column.JS_TYPE == 'number' %}valueType:'digit',hideInForm: true,{% endif %}
            {% if column.JS_TYPE == 'string' %} sorter: (source, target) => (source.{{column.columnName}}||'').localeCompare(target.{{column.columnName}}||''), {% endif %}{% if column.JS_TYPE == 'number' %} sorter: (source, target) => ((source.{{column.columnName}})-(target.{{column.columnName}})), {% endif %}
            {% if loop.first %}fixed: 'left', {% endif %}
            {% if column.JS_TYPE == 'Date' %}render: (text:any) => moment(text).format(MLOCALES.pattern),{% endif %}
            width: 120,
            formItemProps: {
                rules: [
                    {
                        required: true,
                        message: (
                            <FormattedMessage id="pages.list.{{entityFileName}}.{{column.columnName}}.tip" defaultMessage="{{column.COLUMN_COMMENT || column.columnName}}" />
                        ),
                    },
                ],
            },
            {% if loop.first %}
            render: (dom, entity) => {
                return <a onClick={() => setRow(entity)}>{dom}</a>;
            },
            {% endif %}
        },
        {% endfor %}
        {
            title: <FormattedMessage id="pages.list.{{entityFileName}}.option.title" defaultMessage="操作" />,
            dataIndex: 'option',
            valueType: 'option',
            fixed: 'right',
            align:'center',
            width: 140,
            render: (_, record) => (
                <>
                    <a
                        onClick={() => {
                            handleUpdateVisible(true);
                            setFormValues(record);
                          }
                        }
                    >
                        <FormattedMessage id="pages.list.{{entityFileName}}.option.edit" defaultMessage="修改" />
                    </a>
                    <Divider type="vertical" />
                    <Popconfirm title={<FormattedMessage id='pages.list.{{entityFileName}}.option.delete.confirm'
                                                         defaultMessage='删除不可恢复，你确定要删除吗?' />}
                                onConfirm={async () => {
                                    const success = await handles.deleteById(record);
                                    if (success && actionRef.current) {
                                        actionRef.current.reload();
                                    }
                                  }
                                }>
                        <a>
                            <FormattedMessage id="pages.list.{{entityFileName}}.option.delete" defaultMessage="删除" />
                        </a>
                    </Popconfirm>
                </>
            ),
        },
    ];

    return (
        <PageContainer>
            <ProTable<{{entityCLassName}}Item>
                headerTitle={<FormattedMessage id='pages.list.{{entityFileName}}.form.title' defaultMessage='查询' />}
                actionRef={actionRef}
                rowKey="{{primerKey.columnName}}"
                scroll={ { x: 1300 } }
                search={
                    {labelWidth: 120,}
                }
                toolBarRender={() => [
                    <Button type="primary" onClick={() => handleCreateVisible(true)}>
                        <PlusOutlined /> <FormattedMessage id="pages.list.{{entityFileName}}.new" defaultMessage="新建" />
                    </Button>,
                ]}
                request={async (params, sorter, filter) => {
                    const data = await {{entityCLassName}}Service.findPage({ ...params, sorter, filter });
                    return {
                        data: data.data,
                        success: true,
                        total: data.page.count,
                        current: data.page.offset,
                        pageSize: data.page.pageSize,
                    };
                  }
                }
                columns={columns}
                pagination={
                  {
                    defaultCurrent: 1,
                    defaultPageSize: 10,
                    showSizeChanger: true,
                    showQuickJumper: true,
                  }
                }
                rowSelection={
                  {
                    onChange: (_, selectedRows) => setSelectedRows(selectedRows),
                  }
                }

            />

            {selectedRowsState?.length > 0 && (
                <FooterToolbar
                    extra={
                        <div>
                            <FormattedMessage id="pages.list.{{entityFileName}}.chosen" defaultMessage="已选择" />{' '}
                            <a style={  {fontWeight: 600} }>{selectedRowsState.length}</a>{' '}
                            <FormattedMessage id="pages.list.{{entityFileName}}.item" defaultMessage="项" />
                        </div>
                    }
                >
                    <Button danger
                            onClick={async () => {
                                await handles.deleteByIds(selectedRowsState);
                                setSelectedRows([]);
                                actionRef.current?.reloadAndRest?.();
                              }
                            }
                    >
                        <DeleteOutlined /> <FormattedMessage id="pages.list.{{entityFileName}}.batch.delete" defaultMessage="批量删除" />
                    </Button>
                </FooterToolbar>
            )}

            <{{entityCLassName}}CreateForm onCancel={() => handleCreateVisible(false)}
                                     onSubmit={async (value) => {
                                         const success = await handles.add(value);
                                         if (success) {
                                             handleCreateVisible(false);
                                             if (actionRef.current) {
                                                 actionRef.current.reload();
                                             }
                                         }
                                       }
                                     }
                                    visible={createVisible}>
            </{{entityCLassName}}CreateForm>

            {formValues && Object.keys(formValues).length>0 ? (
                <{{entityCLassName}}UpdateForm
                    onSubmit={async (value: any) => {
                        const success = await handles.update(value);
                        if (success) {
                            handleUpdateVisible(false);
                            setFormValues({});
                            if (actionRef.current) {
                                actionRef.current.reload();
                            }
                        }
                      }
                    }
                    onCancel={() => {
                        handleUpdateVisible(false);
                        setFormValues({});
                      }
                    }
                    visible={updateVisible}
                    values={formValues}
                />
            ) : null}


            <Drawer
                width={600}
                visible={!!row}
                onClose={() => {
                    setRow(undefined);
                  }
                }
                closable={false}
            >
                {row?.{{primerKey.columnName}} && (
                    <ProDescriptions<{{entityCLassName}}Item>
                        column={2}
                        title={row?.{{primerKey.columnName}}}
                        request={async () => ({
                            data: row || {},
                        })}
                        params={
                          {
                            {{primerKey.columnName}}: row?.{{primerKey.columnName}},
                          }
                        }
                        columns={columns}
                    />
                )}
            </Drawer>
        </PageContainer>
    );
};


export default {{entityCLassName}}TableList;