import { {{entityCLassName}}Service } from '@/services/{{moduleName}}/{{entityFileName}}.service';
import { {{entityCLassName}}Item } from '@/pages/{{restUrlPrefix}}/data';
import { Effect, Reducer } from 'umi';
/**
 * {{tableName}}--Model数据定义
 * @author {{author}}
 * @date {{date}}
 **/
export interface {{entityCLassName}}Data {
    {% for column in columns %}
    {{column.columnName}} ?: {{column.JS_TYPE}};
    {% endfor %}
}

export interface {{entityCLassName}}ModelState {
  all: {{entityCLassName}}Item[];
}

/**
 * {{tableName}}--Model类型接口定义
 * @author {{author}}
 * @date {{date}}
 **/
export interface {{entityCLassName}}ModelType {
  namespace: string;
  state: {{entityCLassName}}ModelState;
  effects: { fetchAll: Effect; };
  reducers: { save: Reducer };
}

/**
 * {{tableName}}--Model对象
 * @author {{author}}
 * @date {{date}}
 **/
const {{entityCLassName}}Model: {{entityCLassName}}ModelType = {
  namespace: '{{tableName|lower}}',

  state: {
    all: [],
  },

  effects: {
    * fetchAll(_, { put, call }) {
        let res = yield call({{entityCLassName}}Service.findAll);
        yield put({
            type: 'save',
            payload: { all:res || [] },
        });
    },
  },
  reducers: {
    save(state, action) {
        return { ...state, ...action.payload };
    },
  },
};

export default {{entityCLassName}}Model;
