import { PmsInfo } from '@/common/pms/pms.info';
{% for table in tables %}
{% if table.MODULE_NAME == moduleName %}
import { {{ table.TABLE_NAME }}_PMS } from '@/permission/{{moduleName}}/{{ table.ENTITY_FILE_NAME }}.pms';
{% endif %}
{% endfor %}

/**
 * {{moduleName|upper}}模块页面权限注册类，在权限注册功能里会将本类中定义的所有页面权限写入数据库，以便在页面权限授权功能里提供自由授权的机制
 * @date {{date}}
 * @author {{author}}
 **/
export const {{moduleName|upper}}_PMS : PmsInfo[]=
  [ {% for table in tables %}
    {% if table.MODULE_NAME == moduleName %}
    {{ table.TABLE_NAME }}_PMS,
    {% endif %}
    {% endfor %}
  ];
