export default {
  'pages.create.{{entityFileName}}.title': '创建',
  'pages.update.{{entityFileName}}.title': '更新',
  'pages.create.{{entityFileName}}.cancel': '取消',
  'pages.update.{{entityFileName}}.cancel': '取消',
  'pages.create.{{entityFileName}}.submit': '提交',
  'pages.update.{{entityFileName}}.submit': '提交',

  'pages.create.{{entityFileName}}.form.title': '创建',
  {% for column in columns %}
  'pages.create.{{entityFileName}}.{{column.columnName}}.label': '{{column.COLUMN_COMMENT||column.columnName}}',
  'pages.create.{{entityFileName}}.{{column.columnName}}.tip': '{{column.COLUMN_COMMENT||column.columnName}}是必填项',
  'pages.create.{{entityFileName}}.{{column.columnName}}.placeholder': '请输入{{column.COLUMN_COMMENT||column.columnName}}',
  'pages.create.{{entityFileName}}.{{column.columnName}}.valid': '{{column.COLUMN_COMMENT||column.columnName}}已存在',
  'pages.create.{{entityFileName}}.{{column.columnName}}.length.tip':'最多可输入{{column.COLUMN_LEN}}个字符',
  {% endfor %}

  'pages.update.{{entityFileName}}.form.title': '修改',
  {% for column in columns %}
  'pages.update.{{entityFileName}}.{{column.columnName}}.label': '{{column.COLUMN_COMMENT||column.columnName}}',
  'pages.update.{{entityFileName}}.{{column.columnName}}.tip': '{{column.COLUMN_COMMENT||column.columnName}}是必填项',
  'pages.update.{{entityFileName}}.{{column.columnName}}.placeholder': '请输入{{column.COLUMN_COMMENT||column.columnName}}',
  'pages.update.{{entityFileName}}.{{column.columnName}}.valid': '{{column.COLUMN_COMMENT||column.columnName}}已存在',
  'pages.update.{{entityFileName}}.{{column.columnName}}.length.tip':'最多可输入{{column.COLUMN_LEN}}个字符',
  {% endfor %}

  'pages.list.{{entityFileName}}.form.title': '查询',
  {% for column in columns %}
  'pages.list.{{entityFileName}}.{{column.columnName}}.label': '{{column.COLUMN_COMMENT||column.columnName}}',
  'pages.list.{{entityFileName}}.{{column.columnName}}.tip': '{{column.COLUMN_COMMENT||column.columnName}}',
  'pages.list.{{entityFileName}}.{{column.columnName}}Like.tip': '{{column.COLUMN_COMMENT||column.columnName}}模糊查询',
  'pages.list.{{entityFileName}}.{{column.columnName}}.placeholder': '{{column.COLUMN_COMMENT||column.columnName}}',
  {% endfor %}

  'pages.list.{{entityFileName}}.option.delete':'删除',
  'pages.list.{{entityFileName}}.batch.delete':'批量删除',
  'pages.list.{{entityFileName}}.item':'项',
  'pages.list.{{entityFileName}}.chosen':'已选择',
  'pages.list.{{entityFileName}}.new':'新建',
  'pages.list.{{entityFileName}}.title':'查询',
  'pages.list.{{entityFileName}}.option.delete.confirm':'删除不可恢复，你确定要删除吗?',
  'pages.list.{{entityFileName}}.option.edit':'修改',
  'pages.list.{{entityFileName}}.option.title':'操作',
  'pages.list.{{entityFileName}}.index.label':'序号',

};
