export default {
  'pages.create.{{entityFileName}}.title': 'Create',
  'pages.update.{{entityFileName}}.title': 'Update',
  'pages.create.{{entityFileName}}.cancel': 'Cancel',
  'pages.update.{{entityFileName}}.cancel': 'Cancel',
  'pages.create.{{entityFileName}}.submit': 'Submit',
  'pages.update.{{entityFileName}}.submit': 'Submit',  

  'pages.create.{{entityFileName}}.form.title': 'Create',
  {% for column in columns %}
  'pages.create.{{entityFileName}}.{{column.columnName}}.label': '{{column.COLUMN_COMMENT||column.columnName}}',
  'pages.create.{{entityFileName}}.{{column.columnName}}.tip': '{{column.COLUMN_COMMENT||column.columnName}} is required',
  'pages.create.{{entityFileName}}.{{column.columnName}}.placeholder': 'Please input {{column.COLUMN_COMMENT||column.columnName}}',
  'pages.create.{{entityFileName}}.{{column.columnName}}.valid': '{{column.COLUMN_COMMENT||column.columnName}} already exists!',
  'pages.create.{{entityFileName}}.{{column.columnName}}.length.tip':'Limit the most {{column.COLUMN_LEN}} character',
  {% endfor %}

  'pages.update.{{entityFileName}}.form.title': 'Update',
  {% for column in columns %}
  'pages.update.{{entityFileName}}.{{column.columnName}}.label': '{{column.COLUMN_COMMENT||column.columnName}}',
  'pages.update.{{entityFileName}}.{{column.columnName}}.tip': '{{column.COLUMN_COMMENT||column.columnName}} is required',
  'pages.update.{{entityFileName}}.{{column.columnName}}.placeholder': 'Please input {{column.COLUMN_COMMENT||column.columnName}}',
  'pages.update.{{entityFileName}}.{{column.columnName}}.valid': '{{column.COLUMN_COMMENT||column.columnName}} already exists!',
  'pages.update.{{entityFileName}}.{{column.columnName}}.length.tip':'Limit the most {{column.COLUMN_LEN}} character',
  {% endfor %}

  'pages.list.{{entityFileName}}.form.title': 'Query',
  {% for column in columns %}
  'pages.list.{{entityFileName}}.{{column.columnName}}.label': '{{column.COLUMN_COMMENT||column.columnName}}',
  'pages.list.{{entityFileName}}.{{column.columnName}}.tip': '{{column.COLUMN_COMMENT||column.columnName}}',
  'pages.list.{{entityFileName}}.{{column.columnName}}Like.tip': '{{column.COLUMN_COMMENT||column.columnName}} fuzzy query',
  'pages.list.{{entityFileName}}.{{column.columnName}}.placeholder': 'Please input {{column.COLUMN_COMMENT||column.columnName}}',
  {% endfor %}

  'pages.list.{{entityFileName}}.option.delete':'Delete',
  'pages.list.{{entityFileName}}.batch.delete':'Batch delete',
  'pages.list.{{entityFileName}}.item':'item',
  'pages.list.{{entityFileName}}.chosen':'Has chosen',
  'pages.list.{{entityFileName}}.new':'Create',
  'pages.list.{{entityFileName}}.title':'Query',
  'pages.list.{{entityFileName}}.option.delete.confirm':'Deletion is unrecoverable. Are you sure you want to delete it?',
  'pages.list.{{entityFileName}}.option.edit':'Edit',
  'pages.list.{{entityFileName}}.option.title':'Option',
  'pages.list.{{entityFileName}}.index.label':'No.',
};