export default [{
    path: '/{{moduleName}}',
    name: '{{moduleName}}',
    icon: 'SettingOutlined',
    routes: [
        {% for table in tables %}
        {% if table.MODULE_NAME == moduleName %}
        {
            path: '/{{table.REST_URL_PREFIX}}',
            name: '{{table.ENTITY_CLASS_NAME}}',
            icon: 'TeamOutlined',
            component: './{{table.REST_URL_PREFIX}}',
        },
        {% endif %}
        {% endfor %}
    ],
},]