import request from '@/utils/request';
import { {{entityCLassName}}Item, {{entityCLassName}}Params } from '@/pages/{{restUrlPrefix}}/data';

/**
 * rest风格路径前缀
 * @author {{author}}
 * @date {{date}}
 **/
const rest_url= '{{restUrlPrefix}}';

/**
 * {{tableName}}服务类
 * @author {{author}}
 * @date {{date}}
 **/
export const {{entityCLassName}}Service = {
  /**
   * 获取Rest风格路径前缀
   * @author: {{author}}
   * @date: {{date}}
   **/
  get rest_url() {
     return rest_url;
  },
  /**
   * 添加新记录
   * @param params
   * @author: {{author}}
   * @date: {{date}}
   **/
  async add(params: {{entityCLassName}}Item | Partial<{{entityCLassName}}Item>) {
    return request(`${rest_url}/create`, {
      method: 'POST',
      data: params,
    });
  },

  /**
   * 批量添加新记录
   * @param params
   * @author: {{author}}
   * @date: {{date}}
   **/
  async addList(params: {{entityCLassName}}Item[] | Partial<{{entityCLassName}}Item[]>) {
    return request(`${rest_url}/create/list`, {
      method: 'POST',
      data: params,
    });
  },

  /**
   * 根据ID更新记录所有字段
   * @param params
   * @author: {{author}}
   * @date: {{date}}
   **/
  async update(params: {{entityCLassName}}Params | Partial<{{entityCLassName}}Params>) {
    return request(`${rest_url}/update/by/id`, {
      method: 'PUT',
      data: params,
    });
  },

  /**
   * 根据ID列表更新记录所有字段
   * @param params
   * @author: {{author}}
   * @date: {{date}}
   **/
  async updateByIds(params: {{entityCLassName}}Params | Partial<{{entityCLassName}}Params>) {
    return request(`${rest_url}/update/by/ids`, {
        method: 'PUT',
        data: params,
    });
  },

  /**
   * 更新ID更新有值字段
   * @param params
   * @author: {{author}}
   * @date: {{date}}
   **/
  async updateSelective(params: {{entityCLassName}}Params | Partial<{{entityCLassName}}Params>) {
    return request(`${rest_url}/update/by/id/selective`, {
      method: 'PUT',
      data: params,
    });
  },

  /**
   * 批量根据ID更新记录所有字段
   * @param params
   * @author: {{author}}
   * @date: {{date}}
   **/
  async updateList(params: {{entityCLassName}}Params[] | Partial<{{entityCLassName}}Params[]>) {
    return request(`${rest_url}/update/list`, {
      method: 'PUT',
      data: params,
    });
  },

  /**
   * 批量根据ID更新记录所有字段
   * @param params
   * @author: {{author}}
   * @date: {{date}}
   **/
  async updateListSelective(params: {{entityCLassName}}Params[] | Partial<{{entityCLassName}}Params[]>) {
    return request(`${rest_url}/update/list/selective`, {
      method: 'PUT',
      data: params,
    });
  },

    /**
     * 删除指定ID的记录
     * @author: {{author}}
     * @date: {{date}}
     **/
    async deleteById(id: string) {
        return request(`${rest_url}/delete/by/id`, {
            method: 'DELETE',
            params: {id: id},
        });
    },

    /**
     * 删除指定ID列表的记录
     * @author: {{author}}
     * @date: {{date}}
     **/
    async deleteByIds(ids: string[]) {
        return request(`${rest_url}/delete/by/ids`, {
            method: 'DELETE',
            data: {ids: ids},
        });
    },

    /**
    * 删除指定条件限定的记录列表
    * @author: {{author}}
    * @date: {{date}}
    **/
    async delete(params ?: {{entityCLassName}}Params | Partial<{{entityCLassName}}Params>) {
        return request(`${rest_url}/delete`, {
            method: 'DELETE',
            params,
        });
    },

  /**
   * 分页查询用户信息
   * @param params
   * @author: {{author}}
   * @date: {{date}}
   **/
  async findPage(params?: {{entityCLassName}}Params | Partial<{{entityCLassName}}Params>) {
    //计算记录偏移量
    if (params) {
      let pageSize = 20, currentPage = 1;
      if (params.pageSize) pageSize = +(params.pageSize) || 20;
      if (params.current) currentPage = +(params.current) || 1;
      params['offset'] = pageSize * (currentPage - 1);
    }
    return request(`${rest_url}/find/page`, {
      method: 'GET',
      params,
    });
  },

  /**
   * 条件查询记录列表
   * @param params
   * @author: {{author}}
   * @date: {{date}}
   **/
  async findList(params?: {{entityCLassName}}Params | Partial<{{entityCLassName}}Params>) {
    return request(`${rest_url}/find/list`, {
      method: 'GET',
      params,
    });
  },

  /**
   * 查找所有记录
   * @author: {{author}}
   * @date: {{date}}
   **/
  async findAll() {
    return request(`${rest_url}/find/all`, {
      method: 'GET',
    });
  },

  /**
   * 条件查询并返回第一条记录
   * @param params 查询条件
   * @author: {{author}}
   * @date: {{date}}
   **/
  async findOne(params?: {{entityCLassName}}Params | Partial<{{entityCLassName}}Params>) {
    return request(`${rest_url}/find/one`, {
      method: 'GET',
      params,
    });
  },

  /**
   * 查找指定ID记录
   * @param id 记录ID
   * @author: {{author}}
   * @date: {{date}}
   **/
  async findById(id: string) {
    return request(`${rest_url}/find/by/id`, {
      method: 'GET',
      params: { {{primerKey.columnName}}: id },
    });
  },
};
