import React, {useState,useEffect} from 'react';
import { Form, Input, Modal } from 'antd';
import { FormattedMessage, useIntl } from 'umi';
import { {{entityCLassName}}Item } from "@/pages/{{restUrlPrefix}}/data";
import ProForm from '@ant-design/pro-form';

/**
 * {{tableName}}-更新记录表单的输入参数定义
 * @author {{author}}
 * @date {{date}}
 **/
interface {{entityCLassName}}UpdateFormProps {
    onSubmit: (fields: {{entityCLassName}}Item) => void,
    visible: boolean;
    onCancel: () => void;
    values: any;
}

/**
 * {{tableName}}-更新字典项信息表单
 * @author {{author}}
 * @date {{date}}
 **/
const {{entityCLassName}}UpdateForm: React.FC<{{entityCLassName}}UpdateFormProps> = (props) => {
    const {onSubmit, onCancel, visible, values,} = props;
    const [record,setRecord]=useState(values);
    const intl = useIntl();
    const [form] = Form.useForm();

    //设置各控件的初始值
    useEffect(() => {
        form.setFieldsValue({
            {% for column in columns %}{{column.columnName}}: record.{{column.columnName}},
            {% endfor %}
        });
    });

    /**
     * 点击更新按钮的操作
     * @author {{author}}
     * @date {{date}}
     **/
    const handleOk = async () => {
        const fieldValues = await form.validateFields();
        const values = { ...record, ...fieldValues };//合并数据
        setRecord(values);
        onSubmit({...values});
    };

    /**
     * 点击取消按钮的操作
     * @author {{author}}
     * @date {{date}}
     **/
    const handleCancel = async () => {
        await form.resetFields();
        onCancel();
    };

    /**
     * 渲染表单内容
     * @author {{author}}
     * @date {{date}}
     **/
    const renderContent = () => (
        <>
            {% for column in fcucolumns %}
            <Form.Item
                name="{{column.columnName}}"
                label={<FormattedMessage id='pages.update.{{entityFileName}}.{{column.columnName}}.label' defaultMessage='{{column.COLUMN_COMMENT || column.columnName}}'/>}
                rules={[
                    {
                        required: true,
                        message: (<FormattedMessage id='pages.update.{{entityFileName}}.{{column.columnName}}.tip' defaultMessage='{{column.COLUMN_COMMENT || column.columnName}}是必需项！'/>),
                    },{% if col.COLUMN_LEN > 0 %}
                    {
                        max:{{column.COLUMN_LEN}},
                        message:(intl.formatMessage({
                            id: 'pages.update.{{entityFileName}}.{{column.columnName}}.length.tip',
                            defaultMessage: '最多可输入{{column.COLUMN_LEN}}个字符!',
                        })),
                    },{% endif %}
                ]}
            >
                <Input placeholder={intl.formatMessage({
                    id: 'pages.update.{{entityFileName}}.{{column.columnName}}.tip',
                    defaultMessage: '请输入{{column.COLUMN_COMMENT || column.columnName}}！'
                })}/>
            </Form.Item>
            {% endfor %}
        </>
    );

    return (
        <Modal
            width={640}
            getContainer={false}
            bodyStyle={  {padding: '32px 40px 48px'}  }
            destroyOnClose
            title={<FormattedMessage id='pages.update.{{entityFileName}}.form.title' defaultMessage='修改'/>}
            visible={visible}
            onCancel={() => handleCancel()}
            onOk={() => handleOk()}
        >
            <ProForm submitter={false} form={form}>
                {renderContent()}
            </ProForm>

        </Modal>
    );
};

export default {{entityCLassName}}UpdateForm;