import { {{entityCLassName}}Item } from "@/pages/{{restUrlPrefix}}/data";
import React, { useState,useEffect } from 'react';
import { useIntl } from 'umi';
import { Button, Col, Drawer, Form, Input, Row } from 'antd';
import ProForm from '@ant-design/pro-form';

/**
 * {{tableName}}-更新记录表单的输入参数定义
 * @author {{author}}
 * @date {{date}}
 **/
interface {{entityCLassName}}UpdateFormProps {
  visible: boolean;
  onCancel: () => void;
  onSubmit: (fields: {{entityCLassName}}Item) => void;
  values: any;
}

/**
 * {{tableName}}-更新字典项信息表单
 * @author {{author}}
 * @date {{date}}
 **/
const {{entityCLassName}}UpdateForm: React.FC<{{entityCLassName}}UpdateFormProps> = (props) => {
  const { values, visible, onCancel, onSubmit } = props;
  const [record,setRecord]=useState(values);
  const intl = useIntl();
  const [form] = Form.useForm();

  //设置各控件的初始值
  useEffect(() => {
      form.setFieldsValue({
          {% for column in columns %}{{column.columnName}}: record.{{column.columnName}},
          {% endfor %}
      });
  });

  /**
   * 点击更新按钮的操作
   * @author {{author}}
   * @date {{date}}
   **/
  const handleOk = async () => {
    const fieldValues = await form.validateFields();
    const values = { ...record, ...fieldValues };//合并数据
    setRecord(values);
    onSubmit({ ...values });
  };

  /**
   * 点击取消按钮的操作
   * @author {{author}}
   * @date {{date}}
   **/
  const handleCancel = async () => {
    await form.resetFields();
    onCancel();
  };

  return (
    <>
      <Drawer
        destroyOnClose
        getContainer={false}
        title={intl.formatMessage({ id: 'pages.update.{{entityFileName}}.form.title', defaultMessage: '修改' })}
        width={720}
        onClose={onCancel}
        visible={visible}
        bodyStyle={ { paddingBottom: 80 } }
        closable={true}
        footer={
          <div
            style={ { textAlign: 'right',} }
          >
            <Button onClick={() => handleCancel()} style={ { marginRight: 8 } }>
              {intl.formatMessage({ id: 'pages.update.{{entityFileName}}.cancel', defaultMessage: '取消' })}
            </Button>
            <Button onClick={() => handleOk()} type="primary">
              {intl.formatMessage({ id: 'pages.update.{{entityFileName}}.submit', defaultMessage: '提交' })}
            </Button>
          </div>
        }
      >
        <ProForm layout="vertical" submitter={false} form={form}>
          {% for fcols in fdcolumns %}
          <Row gutter={16}>
            {% for col in fcols %}
            <Col span={12}>
              <Form.Item
                      name="{{col.columnName}}"
                      label={intl.formatMessage({
                        id: 'pages.update.{{entityFileName}}.{{col.columnName}}.label',
                        defaultMessage: '{{col.COLUMN_COMMENT || col.columnName}}',
                      })}
                      rules={[
                       {
                        required: true,
                        message: (intl.formatMessage({
                          id: 'pages.update.{{entityFileName}}.{{col.columnName}}.tip',
                          defaultMessage: '{{col.COLUMN_COMMENT || col.columnName}}是必填项!',
                        })),
                       },{% if col.COLUMN_LEN > 0 %}
                       {
                          max:{{col.COLUMN_LEN}},
                          message:(intl.formatMessage({
                              id: 'pages.update.{{entityFileName}}.{{col.columnName}}.length.tip',
                              defaultMessage: '最多可输入{{col.COLUMN_LEN}}个字符!',
                          })),
                       },{% endif %}
                      ]}
                      >
                      <Input placeholder={intl.formatMessage({
                             id: 'pages.update.{{entityFileName}}.{{col.columnName}}.placeholder',
                             defaultMessage: '请输入{{col.COLUMN_COMMENT || col.columnName}}',
                      })} />
              </Form.Item>
            </Col>
            {% endfor %}
          </Row>
          {% endfor %}
        </ProForm>
      </Drawer>
    </>
  );

};

export default {{entityCLassName}}UpdateForm;
