import { {{entityCLassName}}Service } from '@/services/{{moduleName}}/{{entityFileName}}.service';
import { RuleObject, StoreValue } from "rc-field-form/lib/interface";
import { {{entityCLassName}}Params } from "@/pages/{{restUrlPrefix}}/data";

/**
 * {{tableName}}记录创建和更新相关后端验证功能
 * @author {{author}}
 * @date {{date}}
 **/
export const {{tableName|upper}}_FINDER = {

  {% for column in columns %}
  {% if (column.JS_TYPE == 'string'  && !column.IS_PRIMER_KEY) %}
  /**
   * {{column.COLUMN_COMMENT}}-字段唯一性验证
   * @param {{column.columnName}} 输入框输入的{{column.COLUMN_COMMENT}}
   * @param params 其它额外参数
   * @author: {{author}}
   * @date: {{date}}
   **/
  {{column.COLUMN_NAME}}:async ({{column.columnName}}: {{column.JS_TYPE}}, params:Partial<{{entityCLassName}}Params>={}) => {
    const res = await {{entityCLassName}}Service.findOne({
        ...params,
        {{column.columnName}},
    });
    return (res && res.{{column.columnName}} == {{column.columnName}});
  },
  {% endif %}
  {% endfor %}
};

/**
 * {{tableName}}验证器
 * @author {{author}}
 * @date {{date}}
 **/
export const {{tableName|upper}}_VALIDATOR = {

    {% for column in columns %}
    {% if (column.JS_TYPE == 'string'  && !column.IS_PRIMER_KEY) %}
    /**
     * {{column.COLUMN_COMMENT}}-字段唯一性验证
     * @param error 若数据存在重复时显示的错误提示消息
     * @param params 其它参数
     * @author: {{author}}
     * @date: {{date}}
     **/
    {{column.COLUMN_NAME}}:(error: string, params:Partial<{{entityCLassName}}Params>={}) => {
        return {
            validator:async (rule: RuleObject, value: StoreValue, callback: (error?: string) => void) => {
                const res = await {{tableName|upper}}_FINDER.{{column.COLUMN_NAME}}(value,params);
                return res ? Promise.reject(error) : Promise.resolve();
            },
        }
    },
    {% endif %}
    {% endfor %}
};