{% for table in tables %}{% if table.HAS_PRIMER_KEY %}import {{table.ENTITY_CLASS_NAME}} from './zh-CN/{{table.MODULE_NAME}}/{{table.ENTITY_FILE_NAME}}';{% endif %}
{% endfor %}

export default {
  {% for table in tables %}{% if table.HAS_PRIMER_KEY %}...{{table.ENTITY_CLASS_NAME}},{% endif %}
  {% endfor %}
};
