import { Body, Controller, Get, Param, Post, Put, Delete, Query, Inject } from "@nestjs/common";
import { {{entityCLassName}} } from "../entity/{{entityFileName}}.entity";
import { {{entityCLassName}}UDto } from "../dto/update/{{entityFileName}}.udto";
import { {{entityCLassName}}CDto } from "../dto/create/{{entityFileName}}.cdto";
import { {{entityCLassName}}QDto } from "../dto/query/{{entityFileName}}.qdto";
import { {{entityCLassName}}Service } from '../service/{{entityFileName}}.service';
import { ApiOperation, ApiQuery, ApiTags } from '@nestjs/swagger';
import { Permission } from '../../common/auth/guard/pms.auth';
import { {{tableName}}_PMS } from '../permission/{{entityFileName}}.pms';

/**
* {{tableName}}表对应控制器类
* @date {{date}}
* @author {{author}}
* @export
* @class {{className}}
*/
@Controller("{{restUrlPrefix}}")
@ApiTags('访问{{tableName}}表的控制器类')
export class {{className}} {
    constructor(@Inject({{entityCLassName}}Service)private readonly {{entityFieldName}}Service: {{entityCLassName}}Service) {}

    /**
     * 查询所有记录
     */
    @Permission({{tableName}}_PMS.FIND_ALL)
    @Get('find/all')
    @ApiOperation({ summary: '查询所有记录' })
    async findAll(): Promise<{{entityCLassName}}[]> {
        return this.{{entityFieldName}}Service.findAll();
    }

    /**
     * 条件查询记录
     * @param dto
     */
    @Permission({{tableName}}_PMS.FIND_LIST)
    @Get('find/list')
    @ApiOperation({ summary: '条件查询记录' })
    @ApiQuery({name: 'dto', type: {{entityCLassName}}QDto})
    async findList(@Query() dto: {{entityCLassName}}QDto): Promise<{{entityCLassName}}[]> {
        return this.{{entityFieldName}}Service.findList(dto);
    }

    /**
    * 查询ID对应记录
    * @param query
    */
    @Permission({{tableName}}_PMS.FIND_BY_ID)
    @Get('find/by/id')
    @ApiOperation({ summary: '查询指定ID的记录' })
    @ApiQuery({name: 'id', type: String})
    async findById(@Query('id') id: string): Promise<{{entityCLassName}}> {
        return this.{{entityFieldName}}Service.findById(id);
    }

    /**
     * 查询单条记录
     * @param query
     */
    @Permission({{tableName}}_PMS.FIND_ONE)
    @Get('find/one')
    @ApiOperation({ summary: '查询单条记录' })
    @ApiQuery({name: 'dto', type: {{entityCLassName}}QDto})
    async findOne(@Query() dto: {{entityCLassName}}QDto): Promise<{{entityCLassName}}> {
        return this.{{entityFieldName}}Service.findOne(dto);
    }

    /**
    * 查询ID列表对应记录
    * @param ids
    * @param cols
    */
    @Permission({{tableName}}_PMS.FIND_BY_ID_LIST)
    @Get('find/by/ids')
    @ApiOperation({ summary: '查询指定ID列表的记录' })
    @ApiQuery({name: 'ids', type: [String]})
    @ApiQuery({name: 'cols', type: [String]})
    async findByIdList(@Query('ids') ids: string[],@Query('cols') cols: string[]): Promise<{{entityCLassName}}[]> {
        return this.{{entityFieldName}}Service.findByIdList(ids,cols);
    }

    /**
    * 分页查询记录
    * @param query
    */
    @Permission({{tableName}}_PMS.FIND_PAGE)
    @Get('find/page')
    @ApiOperation({ summary: '分页查询记录' })
    @ApiQuery({name: 'query', type: {{entityCLassName}}QDto})
    async findPage(@Query() query: {{entityCLassName}}QDto): Promise<any> {
        return this.{{entityFieldName}}Service.findPage(query);
    }

    /**
    * 查询记录数
    * @param query
    */
    @Permission({{tableName}}_PMS.COUNT)
    @Get('count')
    @ApiOperation({ summary: '分页查询记录' })
    @ApiQuery({name: 'query', type: {{entityCLassName}}QDto})
    async count(@Query() query: {{entityCLassName}}QDto): Promise<number> {
        return this.{{entityFieldName}}Service.count(query);
    }

    /**
    * 删除指定ID记录
    * @param id
    */
    @Permission({{tableName}}_PMS.DELETE_BY_ID)
    @Delete('delete/by/id')
    @ApiOperation({ summary: '删除指定ID记录' })
    @ApiQuery({name: 'id', type: String})
    async deleteById(@Query('id') id: string): Promise<any> {
        return this.{{entityFieldName}}Service.deleteById(id);
    }

    /**
    * 删除指定ID记录列表
    * @param ids
    */
    @Permission({{tableName}}_PMS.DELETE_BY_ID_LIST)
    @Delete('delete/by/ids')
    @ApiOperation({ summary: '删除指定ID列表的记录' })
    @ApiQuery({name: 'ids', type: [String]})
    async deleteByIdList(@Body('ids') ids: string[]): Promise<any> {
        return this.{{entityFieldName}}Service.deleteByIdList(ids);
    }

    /**
    * 条件删除记录
    * @param query
    */
    @Permission({{tableName}}_PMS.DELETE)
    @Delete('delete')
    @ApiOperation({ summary: '条件删除记录' })
    @ApiQuery({name: 'query', type: {{entityCLassName}}QDto })
    async delete(@Query() query: {{entityCLassName}}QDto): Promise<any> {
        return this.{{entityFieldName}}Service.delete(query);
    }

    /**
    * 更新指定ID记录全部字段
    * @param dto
    */
    @Permission({{tableName}}_PMS.UPDATE)
    @Put('update/by/id')
    @ApiOperation({ summary: '更新指定ID的记录全部字段' })
    @ApiQuery({ name: 'dto', type: {{entityCLassName}}UDto })
    async update(@Body() dto: {{entityCLassName}}UDto): Promise < any > {
        return this.{{entityFieldName}}Service.update(dto);
    }

    /**
     * 更新指定ID列表记录全部字段
     * @param dto
     */
    @Permission({{tableName}}_PMS.UPDATE_BY_IDS)
    @Put('update/by/ids')
    @ApiOperation({ summary: '更新指定ID列表的记录全部字段' })
    @ApiQuery({ name: 'dto', type: {{entityCLassName}}UDto })
    async updateByIds(@Body() dto: {{entityCLassName}}UDto): Promise < any > {
        return this.{{entityFieldName}}Service.updateByIds(dto);
    }

    /**
    * 批量更新ID对应的记录全部字段
    * @param dtos
    */
    @Permission({{tableName}}_PMS.UPDATE_LIST)
    @Put('update/list')
    @ApiOperation({ summary: '批量更新ID对应的记录全部字段' })
    @ApiQuery({ name: 'dtos', type: [{{entityCLassName}}UDto] })
    async updateList(@Body() dtos: {{entityCLassName}}UDto[]): Promise < any > {
        return this.{{entityFieldName}}Service.updateList(dtos);
    }
    /**
    * 更新有值字段到指定ID记录
    * @param dto
    */
    @Permission({{tableName}}_PMS.UPDATE_SELECTIVE)
    @Put('update/by/id/selective')
    @ApiOperation({ summary: '更新有值字段到指定ID的记录' })
    @ApiQuery({ name: 'dto', type: {{entityCLassName}}UDto })
    async updateSelective(@Body() dto: {{entityCLassName}}UDto): Promise < any > {
        return this.{{entityFieldName}}Service.updateSelective(dto);
    }
    /**
    * 批量更新有值字段到ID对应的记录
    * @param dtos
    */
    @Permission({{tableName}}_PMS.UPDATE_LIST_SELECTIVE)
    @Put('update/list/selective')
    @ApiOperation({ summary: '批量更新有值字段到ID对应的记录' })
    @ApiQuery({ name: 'dtos', type: [{{entityCLassName}}UDto] })
    async updateListSelective(@Body() dtos: {{entityCLassName}}UDto[]): Promise < any > {
        return this.{{entityFieldName}}Service.updateListSelective(dtos);
    }

    /**
    * 创建新记录
    * @param dto
    */
    @Permission({{tableName}}_PMS.CREATE)
    @Post('create')
    @ApiOperation({ summary: '创建新记录' })
    @ApiQuery({ name: 'dto', type: {{entityCLassName}}CDto })
    async create(@Body() dto: {{entityCLassName}}CDto): Promise<{{entityCLassName}}CDto> {
        return this.{{entityFieldName}}Service.create(dto);
    }

    /**
     * 批量创建新记录
     * @param dto
     */
    @Permission({{tableName}}_PMS.CREATE_LIST)
    @Post('create/list')
    @ApiOperation({ summary: '批量创建新记录' })
    @ApiQuery({ name: 'dtos', type: [{{entityCLassName}}CDto] })
    async createList(@Body() dtos: {{entityCLassName}}CDto[]): Promise<{{entityCLassName}}CDto[]> {
        return this.{{entityFieldName}}Service.createList(dtos);
    }
}