import * as request from 'supertest';
import { Test } from '@nestjs/testing';
import { {{moduleClassName}} } from './../../src/{{moduleName}}/{{moduleName}}.module';
import { INestApplication } from '@nestjs/common';

/**
 * {{entityCLassName}}Controller:控制器功能方法测试
 * @Date {{date}}
 * @author {{author}}
 */
describe('{{entityCLassName}}Controller (e2e)', () => {
  let app: INestApplication;

  beforeAll(async () => {
    const moduleFixture = await Test.createTestingModule({
      imports: [{{moduleClassName}}],
    }).compile();

    app = moduleFixture.createNestApplication();
    await app.init();
  });

  //测试查询所有方法:findAll
  it('/{{restUrlPrefix}}/find/all (GET)', () => {
    return request(app.getHttpServer()).get('/{{restUrlPrefix}}/find/all').expect(200);
  });

  afterAll(async () => {
    await app.close();
  });
});
