import { ApiProperty, ApiPropertyOptional, ApiTags } from '@nestjs/swagger';

/**
 * {{tableComment||tableName}} CDTO对象
 * @date {{date}}
 * @author {{author}}
 * @export {{className}}CDto
 * @class {{className}}CDto
 */
@ApiTags('{{tableName}}表的CDTO对象')
export class {{className}}CDto {

    {% for column in columns %}
    /**
     * {{column.COLUMN_COMMENT || column.columnName}}
     *
     * @type { {{column.JS_TYPE}} }
     * @memberof {{className}}CDto
     */
    {% if addClassValidate && column.IS_NULLABLE == 'NO' %}
    @ApiProperty({ name: '{{column.columnName}}', type: '{{column.JS_TYPE}}', description: '{{column.COLUMN_COMMENT || column.columnName}}' })
    {{column.columnName}}: {{column.JS_TYPE}};
    {% else %}
    @ApiPropertyOptional({ name: '{{column.columnName}}', type: '{{column.JS_TYPE}}', description: '{{column.COLUMN_COMMENT || column.columnName}}' })
    {{column.columnName}}?: {{column.JS_TYPE}};
    {% endif %}
    {% endfor %}

}