import { Entity, Column } from "typeorm";
{% if addClassValidate %}import { Max,IsNotEmpty } from "class-validator";{% endif %}
{% if hasPassword %}import { Exclude } from 'class-transformer';{% endif %}
{% if hasTimeCol || hasNumberCol %}import { Type } from 'class-transformer';{% endif %}
/**
 * {{tableComment||tableName}}
 * @date {{date}}
 * @author {{author}}
 * @export
 * @class {{className}}
 */
@Entity({
    name: '{{tableName}}'
})
export class {{className}} {

    {% for column in columns %}
    /**
     * {{column.COLUMN_COMMENT || column.columnName}}{% if column.IS_PRIMER_KEY %}-主键{% endif %}
     *
     * @type { {{column.JS_TYPE}} }
     * @memberof {{className}}
     */
    {% if column.IS_PASSWORD_COL %}
    @Exclude({ toPlainOnly: true })
    {% endif %}
    {% if column.JS_TYPE == 'Date' %}
    @Type(()=>Date)
    {% endif %}
    {% if column.JS_TYPE == 'number' %}
    @Type(()=>Number)
    {% endif %}
    {% if column.IS_PRIMER_KEY %}
    @Column({name: '{{column.COLUMN_NAME}}', type: '{{column.DATA_TYPE}}', length: '{{column.COLUMN_LEN}}', primary: true})
    {% else %}
    @Column({name: '{{column.COLUMN_NAME}}', type: '{{column.DATA_TYPE}}'{% if column.HAS_COLUMN_LEN %}, length: '{{column.COLUMN_LEN}}'{% endif %} })
    {% endif %}

    {% if addClassValidate && column.IS_NULLABLE == 'NO' %}
    @IsNotEmpty({ message:'【{{column.COLUMN_COMMENT || column.columnName}}】不能为空' })
    {% endif %}

    {% if addClassValidate&&column.HAS_COLUMN_LEN %}
    @Max({{ column.COLUMN_LEN }},{ message:'【{{ column.COLUMN_COMMENT || column.columnName }}】长度不能超过{{column.COLUMN_LEN}}' })
    {% endif %}
    
    {{column.columnName}}: {{column.JS_TYPE}};
    {% endfor %}

}

//声明类型定义
export declare type {{entityCLassName}}Type = {{entityCLassName}} | Partial<{{entityCLassName}}>;