import { {{entityCLassName}}QDto } from '../../dto/query/{{entityFileName}}.qdto';
import { {{entityCLassName}}CDto } from '../../dto/create/{{entityFileName}}.cdto';
import { {{entityCLassName}}UDto } from '../../dto/update/{{entityFileName}}.udto';
import { StringUtils } from '../../../common/utils/string.utils';
import { {{entityCLassName}}ColNameEnum,{{entityCLassName}}ColPropEnum, {{entityCLassName}}Table, {{entityCLassName}}ColNames,{{entityCLassName}}ColProps} from '../ddl/{{entityFileName}}.cols';

/**
* {{tableName}}--{{tableComment}}表相关SQL定义
* @date {{date}}
* @author {{author}}
* @export
* @class {{className}}
*/
export const {{className}} = {
    /**
    * 构建根据有值属性查询SQL
    * @param dto
    * @return {string}
    */
    SELECT_SQL: (dto: {{entityCLassName}}QDto|Partial<{{entityCLassName}}QDto>): string => {
        if (!dto) return '';
        let cols = {{entityCLassName}}SQL.COL_MAPPER_SQL(dto);
        let where = {{entityCLassName}}SQL.WHERE_SQL(dto);
        let group = {{entityCLassName}}SQL.GROUP_BY_SQL(dto);
        let order = {{entityCLassName}}SQL.ORDER_BY_SQL(dto);
        let limit = {{entityCLassName}}SQL.LIMIT_SQL(dto);
        return `SELECT ${cols} FROM ${TABLE} ${where} ${group} ${order} ${limit}`;
    },

    /**
    * 查询记录数SQL
    * @param dto
    * @return {string}
    */
    SELECT_COUNT_SQL: (dto: {{entityCLassName}}QDto|Partial<{{entityCLassName}}QDto>): string => {
        if (!dto) return '';
        let where = {{entityCLassName}}SQL.WHERE_SQL(dto);
        let group = {{entityCLassName}}SQL.GROUP_BY_SQL(dto);
        return `SELECT count(*) as count FROM ${TABLE} ${where} ${group}`;
    },

    /**
    * 根据ID查询记录SQL
    * @param dto
    * @return {string}
    */
    SELECT_BY_ID_SQL: (dto: {{entityCLassName}}QDto|Partial<{{entityCLassName}}QDto>): string => {
        if (!dto) return '';
        let cols = {{entityCLassName}}SQL.COL_MAPPER_SQL(dto);
        let group = {{entityCLassName}}SQL.GROUP_BY_SQL(dto);
        let order = {{entityCLassName}}SQL.ORDER_BY_SQL(dto);
        let limit = {{entityCLassName}}SQL.LIMIT_SQL(dto);
        return `SELECT ${cols} FROM ${TABLE} WHERE ${PRIMER_KEY} = ${toSqlValue(dto[primerKey])} ${group} ${order} ${limit}`;
    },

    /**
    * 根据ID列表查询记录SQL
    * @param idList
    * @return {string}
    */
    SELECT_BY_ID_LIST_SQL: (idList: string[],cols=[]): string => {
        if (!idList || idList.length == 0) return '';
        let sql = {{entityCLassName}}SQL.COL_MAPPER_SQL({cols});
        return `SELECT ${sql} FROM ${TABLE} WHERE ${ {{entityCLassName}}SQL.IN_SQL(PRIMER_KEY, idList)}`;
    },

    /**
    * 查询数据库中已存在ID的SQL语句
    * @param idList
    * @return {string}
    */
    SELECT_EXIST_ID_LIST_SQL: (idList: string[]): string => {
        if (!idList || idList.length == 0) return '';
        return `SELECT ${PRIMER_KEY} FROM ${TABLE} WHERE ${ {{entityCLassName}}SQL.IN_SQL(PRIMER_KEY, idList)}`;
    },

    /**
    * 查询所有ID列表SQL语句
    * @return {string}
    */
    SELECT_ALL_ID_LIST_SQL: (): string => {
        return `SELECT ${PRIMER_KEY} FROM ${TABLE}`;
    },

    /**
    * 条件查询ID列表SQL语句
    * @param dto
    * @return {string}
    */
    SELECT_ID_LIST_SQL: (dto: {{entityCLassName}}QDto|Partial<{{entityCLassName}}QDto>): string => {
        if (!dto) return '';
        let where = {{entityCLassName}}SQL.WHERE_SQL(dto);
        let group = {{entityCLassName}}SQL.GROUP_BY_SQL(dto);
        let order = {{entityCLassName}}SQL.ORDER_BY_SQL(dto);
        let limit = {{entityCLassName}}SQL.LIMIT_SQL(dto);
        return `SELECT ${PRIMER_KEY} FROM ${TABLE}  ${where} ${group} ${order} ${limit}`;
    },

    /**
    * 查询结果列映射SQL
    * @param dto
    * @return {string}
    */
    COL_MAPPER_SQL: (dto: {{entityCLassName}}QDto|Partial<{{entityCLassName}}QDto>): string => {
        if (!dto) return '';
        let cols = StringUtils.toColName(dto.cols, {{entityCLassName}}ColNames,{{entityCLassName}}ColProps);
        if (!cols || cols.length == 0) cols={{entityCLassName}}ColNames;
        let sql = cols.map(col=>`${ col } as ${StringUtils.camelCase(col)}`).join(',');
        return dto.distinct ? `DISTINCT ${sql}` : sql;
    },

    /**
    * Where语句，根据有值属性查询
    * @param dto
    * @return {string}
    */
    WHERE_SQL: (dto: {{entityCLassName}}QDto|Partial<{{entityCLassName}}QDto>): string => {
        if (!dto) return '';
        let items = [];

        {% for column in columns %}

        {% if column.JS_TYPE == 'string' %}
        if (dto[{{column.columnName}}]?.length > 0) items.push(` ${ {{column.COLUMN_NAME}} } = '${dto[{{column.columnName}}]}'`);
        if (dto['n{{column.columnName}}']?.length > 0) items.push(` ${ {{column.COLUMN_NAME}} } != '${dto['n{{column.columnName}}']}'`);
        {% endif %}

        {% if column.JS_TYPE == 'number' %}
        if (dto[{{column.columnName}}]) items.push(` ${ {{column.COLUMN_NAME}} } = '${dto[{{column.columnName}}]}'`);
        if (dto['n{{column.columnName}}']) items.push(` ${ {{column.COLUMN_NAME}} } != '${dto['n{{column.columnName}}']}'`);
        {% endif %}

        {% if column.JS_TYPE == 'Date' %}
        if (dto[{{column.columnName}}]) items.push(`${ {{column.COLUMN_NAME}} } is not null and date_format(${ {{column.COLUMN_NAME}} },'%Y-%m-%d') = ${toSqlValue(dto[{{column.columnName}}])}`);
        if (dto['n{{column.columnName}}']) items.push(`${ {{column.COLUMN_NAME}} } is not null and date_format(${ {{column.COLUMN_NAME}} },'%Y-%m-%d') != ${toSqlValue(dto['n{{column.columnName}}'])}`);
        {% endif %}
        {% endfor %}

        //数组、模糊条件、年份日期范围等额外查询条件
        {% for column in columns %}

        {% if column.JS_TYPE == 'string' %}
        //{{column.COLUMN_NAME}}--字符串字段
        if (dto['{{column.columnName}}List']?.length > 0) items.push({{entityCLassName}}SQL.IN_SQL({{column.COLUMN_NAME}}, <string[]>dto['{{column.columnName}}List']));
        if (dto['n{{column.columnName}}List']?.length > 0) items.push({{entityCLassName}}SQL.IN_SQL({{column.COLUMN_NAME}}, <string[]>dto['n{{column.columnName}}List'],true));
        if (dto['{{column.columnName}}Like']?.length > 0) items.push({{entityCLassName}}SQL.LIKE_SQL({{column.COLUMN_NAME}}, dto['{{column.columnName}}Like']));//For MysSQL
        if (dto['n{{column.columnName}}Like']?.length > 0) items.push({{entityCLassName}}SQL.LIKE_SQL({{column.COLUMN_NAME}}, dto['n{{column.columnName}}Like'],true));//For MysSQL
        if (dto['{{column.columnName}}LikeList']?.length > 0) items.push({{entityCLassName}}SQL.LIKE_LIST_SQL({{column.COLUMN_NAME}},<string[]>dto['{{column.columnName}}LikeList']));//For MysSQL
        {% endif %}

        {% if column.JS_TYPE == 'number' %}
        //{{column.COLUMN_NAME}}--数字字段
        if (dto['{{column.columnName}}List']) items.push({{entityCLassName}}SQL.IN_SQL({{column.COLUMN_NAME}}, dto['{{column.columnName}}List']));
        if (dto['n{{column.columnName}}List']) items.push({{entityCLassName}}SQL.IN_SQL({{column.COLUMN_NAME}}, dto['n{{column.columnName}}List'],true));
        {% endif %}

        {% if column.JS_TYPE == 'Date' %}
        //{{column.COLUMN_NAME}}--日期字段
        if (dto[{{column.columnName}}]) items.push(`${ {{column.COLUMN_NAME}} } is not null and date_format(${ {{column.COLUMN_NAME}} },'%Y-%m-%d %T') >= ${toSqlValue(dto['s{{column.COLUMN_CAML_CASE}}'])}`);
        if (dto[{{column.columnName}}]) items.push(`${ {{column.COLUMN_NAME}} } is not null and date_format(${ {{column.COLUMN_NAME}} },'%Y-%m-%d %T') <= ${toSqlValue(dto['e{{column.COLUMN_CAML_CASE}}'])}`);
        {% endif %}
        {% endfor %}

        return items.length > 0 ? ` WHERE ${items.join(' and ')}` : '';
    },

    /**
    * 字符串的Like语句，采用前后模糊查询
    * @param colName 列名
    * @param values 值
    * @param not true/false--不包含于/包含于
    * @return {string}
    */
    LIKE_SQL: (colName: string, value: string, not: boolean = false): string => {
        if (!colName || value.length == 0 || !value || value.length == 0) return '';
        if (not) return ` ${colName} not like CONCAT('%','${value}','%')`;
        else return ` ${colName} like CONCAT('%','${value}','%')`;
    },

    /**
    * 字符串列表的Like语句，采用OR/AND连接和前后模糊查询
    * @param colName 列名
    * @param values 值列表
    * @param andOr 采用and或or连接多个条件，默认为OR语句
    * @return {string}
    */
    LIKE_LIST_SQL: (colName: string, values: string[], andOr?: string): string => {
        if (!colName || !values || values.length == 0) return '';
        if (!andOr) andOr = 'OR';
        let items = values.map(value => {{entityCLassName}}SQL.LIKE_SQL(colName,value));
        return `( ${items.join(' ' + andOr + ' ')} )`;
    },

    /**
    * 排序查询SQL语句
    * @param dto
    * @return {string}
    */
    ORDER_BY_SQL: (dto: {{entityCLassName}}QDto|Partial<{{entityCLassName}}QDto>): string => {
        if (!dto) return '';
        if (dto['order']?.length > 0) {
            return `order by ${dto['order']}`;
        }
        return '';
    },

    /**
    * 分组查询SQL语句
    * @param dto
    * @return {string}
    */
    GROUP_BY_SQL: (dto: {{entityCLassName}}QDto|Partial<{{entityCLassName}}QDto>): string => {
        if (!dto) return '';
        if (dto['group']?.length > 0) {
            return `group by ${dto['group']}`;
        }
        return '';
    },

    /**
    * 分页查询条件SQL语句
    * @param dto
    * @return {string}
    */
    LIMIT_SQL: (dto: {{entityCLassName}}QDto|Partial<{{entityCLassName}}QDto>): string => {
        if(!dto) return '';
        if (typeof dto['offset'] == 'number' && typeof dto['pageSize'] =='number') {
            return `limit ${dto['offset']},${dto['pageSize']}`;
        }
        return '';
    },

    /**
    * IN语句，会自动判定是否为数字还是字符串，以便构建正确语法的SQL
    * @param colName 列名，如:SAM_NAME
    * @param values 数组
    * @param not true/false--不包含于/包含于
    * @return {string}
    */
    IN_SQL: (colName: string, values: number[] | string[], not:boolean=false) => {
        if (!values || values.length == 0) return '';
        let items = [];
        Array.isArray(values)?values.forEach(value => items.push(toSqlValue(value))):items.push(toSqlValue(values));
        return ` ${colName} ${not ? 'NOT' : ''} IN(${items.join(',')})`;
    },

    /**
    * 插入记录SQL语句
    * @param dto
    * @return {string}
    */
    INSERT_SQL: (dto: {{entityCLassName}}CDto|Partial<{{entityCLassName}}CDto>): string => {
        if (!dto) return '';
        if (!dto[primerKey] || dto[primerKey] == undefined) return '';

        let cols = [];
        let values = [];

        {% for column in columns %}
        cols.push({{column.COLUMN_NAME}});
        {% endfor %}

        {% for column in columns %}

        {% if column.JS_TYPE == 'string' %}
        values.push(toSqlValue(dto[{{column.columnName}}]));
        {% endif %}

        {% if column.JS_TYPE == 'number' %}
        values.push(toSqlValue(dto[{{column.columnName}}]));
        {% endif %}

        {% if column.JS_TYPE == 'Date' %}
        values.push('NOW()');
        {% endif %}

        {% endfor %}

        let sql = `INSERT INTO ${TABLE}( ${cols.join(',')} ) VALUES( ${values.join(',')} )`;
        return sql;
    },

    /**
    * 批量插入SQL语句
    * @param entitys
    * @return {string}
    */
    BATCH_INSERT_SQL: (dtos: {{entityCLassName}}CDto[]|Partial<{{entityCLassName}}CDto>[]): string => {
        if (!dtos || dtos.length == 0) return '';
        let cols = [];

        {% for column in columns %}
        cols.push({{column.COLUMN_NAME}});
        {% endfor %}

        let items = [];
        dtos.forEach(dto => {
            let values = [];

            {% for column in columns %}

            {% if column.JS_TYPE == 'string' %}
            values.push(toSqlValue(dto[{{column.columnName}}]));
            {% endif %}

            {% if column.JS_TYPE == 'number' %}
            values.push(toSqlValue(dto[{{column.columnName}}]));
            {% endif %}

            {% if column.JS_TYPE == 'Date' %}
            values.push('NOW()');
            {% endif %}

            {% endfor %}

            items.push(`(${values.join(',')})`);
        });
        return `INSERT INTO ${TABLE}( ${cols.join(',')} ) VALUES ${items.join(',')}`;
    },

    /**
    * 根据ID更新所有属性值的更新SQL语句
    * @param dto
    * @return {string}
    */
    UPDATE_BY_ID_SQL: (dto: {{entityCLassName}}UDto|Partial<{{entityCLassName}}UDto>): string => {
        if (!dto) return '';

        //校正列名
        let cols=StringUtils.toColName(dto.cols,{{entityCLassName}}ColNames,{{entityCLassName}}ColProps);
        //移除日期列名
        cols=StringUtils.delDateCols(cols);

        //更新指定的列数据
        if( cols?.length>0 ){
            let items = cols.map(col=>(`${ col } = ${toSqlValue(dto[StringUtils.camelCase(col)])}`));
            {% if updateTimeCol!=null %}items.push(`${ {{updateCol.COLUMN_NAME}} } = NOW()`);{% endif %}
            return `UPDATE ${TABLE} SET ${items.join(',')} WHERE ${PRIMER_KEY} = '${dto[primerKey]}'`;
        }

        //更新所有列数据
        let items = [];

        {% for column in columns %}

        {% if column.IS_PRIMER_KEY %}
        {% else %}

        {% if column.JS_TYPE == 'string' %}
        items.push(`${ {{column.COLUMN_NAME}} } = ${toSqlValue(dto[{{column.columnName}}])}`);
        {% endif %}

        {% if column.JS_TYPE == 'number' %}
        items.push(`${ {{column.COLUMN_NAME}} } = ${toSqlValue(dto[{{column.columnName}}])}`);
        {% endif %}

        {% if column.IS_UPDATE_TIME %}
        items.push(`${ {{column.COLUMN_NAME}} } = NOW()`);
        {% endif %}

        {% endif %}
        {% endfor %}

        return `UPDATE ${TABLE} SET ${items.join(',')} WHERE ${PRIMER_KEY} = '${dto[primerKey]}'`;
    },

    /**
    * 根据ID列表批量更新所有属性值的更新SQL语句
    * @param dto
    * @return {string}
    */
    UPDATE_BY_IDS_SQL: (dto: {{entityCLassName}}UDto|Partial<{{entityCLassName}}UDto>): string => {
        if (!dto) return '';

        //获取ID列表
        let ids = <string[]>dto[`${primerKey}List`];
        if (!ids || ids.length == 0) return '';

        //校正列名
        let cols=StringUtils.toColName(dto.cols,{{entityCLassName}}ColNames,{{entityCLassName}}ColProps);
        //移除日期列名
        cols=StringUtils.delDateCols(cols);

        //更新指定的列数据
        if(cols?.length>0){
            let items = cols.map(col=>(`${ col } = ${toSqlValue(dto[StringUtils.camelCase(col)])}`));
            {% if updateTimeCol!=null %}items.push(`${ {{updateCol.COLUMN_NAME}} } = NOW()`);{% endif %}
            return `UPDATE ${TABLE} SET ${items.join(',')} WHERE ${ {{entityCLassName}}SQL.IN_SQL(PRIMER_KEY, ids)}`;
        }

        //更新所有列数据
        let items = [];

        {% for column in columns %}

        {% if column.IS_PRIMER_KEY %}
        {% else %}

        {% if column.JS_TYPE == 'string' %}
        items.push(`${ {{column.COLUMN_NAME}} } = ${toSqlValue(dto[{{column.columnName}}])}`);
        {% endif %}

        {% if column.JS_TYPE == 'number' %}
        items.push(`${ {{column.COLUMN_NAME}} } = ${toSqlValue(dto[{{column.columnName}}])}`);
        {% endif %}

        {% if column.IS_UPDATE_TIME %}
        items.push(`${ {{column.COLUMN_NAME}} } = NOW()`);
        {% endif %}

        {% endif %}
        {% endfor %}

        return `UPDATE ${TABLE} SET ${items.join(',')} WHERE ${ {{entityCLassName}}SQL.IN_SQL(PRIMER_KEY, ids)}`;
    },

    /**
    * 根据ID更新所有属性值的批量更新SQL语句
    * @param entitys
    * @return {string}
    */
    BATCH_UPDATE_BY_ID_SQL: (dtos: {{entityCLassName}}UDto[]|Partial<{{entityCLassName}}UDto>[]): string => {
        if (!dtos || dtos.length == 0) return '';
        let sqls = [];
        dtos.forEach(value => {
            sqls.push({{entityCLassName}}SQL.UPDATE_BY_ID_SQL(value));
        });
        return sqls.join(';');
    },

    /**
    * 根据ID更新有值属性值的条件更新SQL语句
    * @param dto
    * @return {string}
    */
    UPDATE_BY_ID_SELECTIVE_SQL: (dto: {{entityCLassName}}UDto|Partial<{{entityCLassName}}UDto>): string => {
        if (!dto) return '';

        let items = [];

        {% for column in columns %}

        {% if column.IS_PRIMER_KEY %}
        {% else %}

        {% if column.JS_TYPE == 'string' %}
        if (dto[{{column.columnName}}]?.length>0)items.push(`${ {{column.COLUMN_NAME}} } = ${toSqlValue(dto[{{column.columnName}}])}`);
        {% endif %}

        {% if column.JS_TYPE == 'number' %}
        if (dto[{{column.columnName}}])items.push(`${ {{column.COLUMN_NAME}} } = ${toSqlValue(dto[{{column.columnName}}])}`);
        {% endif %}

        {% if column.IS_UPDATE_TIME %}
        if (dto[{{column.columnName}}])items.push(`${  {{column.COLUMN_NAME}} }= NOW()`);
        {% endif %}
        {% endif %}

        {% endfor %}

        return `UPDATE ${TABLE} SET ${items.join(',')} WHERE ${PRIMER_KEY} = '${dto[primerKey]}'`;
    },

    /**
    * 根据ID更新有值属性值的条件批量更新SQL语句
    * @param entitys
    * @return {string}
    */
    BATCH_UPDATE_BY_ID_SELECTIVE_SQL: (dtos: {{entityCLassName}}UDto[]|Partial<{{entityCLassName}}UDto>[]): string => {
        if (!dtos || dtos.length == 0) return '';
        let items = [];
        dtos.forEach(value => items.push({{entityCLassName}}SQL.UPDATE_BY_ID_SELECTIVE_SQL(value)));
        return items.join(';');
    },

    /**
    * 条件删除SQL语句
    * @param dtos
    * @return {string}
    */
    DELETE_SELECTIVE_SQL: (dto: {{entityCLassName}}QDto|Partial<{{entityCLassName}}QDto>): string => {
        if (!dto) return '';
        let where = {{entityCLassName}}SQL.WHERE_SQL(dto);
        return `DELETE FROM ${TABLE} ${where}`;
    },

    /**
    * 删除
    * @param dto
    * @return {string}
    */
    DELETE_BY_ID_SQL: (id: string): string => {
        if (!id) return '';
        return `DELETE FROM ${TABLE} WHERE ${PRIMER_KEY} = ${id}`;
    },

    /**
    *
    * @param dto
    * @return {string}
    */
    DELETE_BY_IDS_SQL: (idList: string[]): string => {
        if (!idList || idList.length == 0) return '';
        let inSql = {{entityCLassName}}SQL.IN_SQL(PRIMER_KEY, idList);
        return `DELETE FROM ${TABLE} WHERE ${inSql}`;
    },

    /**
     * 删除所有记录的SQL语句
     */
    DELETE_ALL_SQL: (): string => {
        return `DELETE FROM ${TABLE}`;
    },
};

/**
* 根据值的类型返回对格式化后的字符串，主要方便构建SQL语句
* @param value
*/
const toSqlValue = StringUtils.toSqlValue;

/**
* 表信息
*/
const TABLE='{{tableName}}';

/**
* 列名常量字段
*/
{% for column in columns %}
const {{column.COLUMN_NAME}}={{entityCLassName}}ColNameEnum.{{column.COLUMN_NAME}};
{% endfor %}

/**
* 实体类属性名
*/
{% for column in columns %}
const {{column.columnName}}={{entityCLassName}}ColPropEnum.{{column.columnName}};
{% endfor %}

/**
* 主键信息
*/
const PRIMER_KEY = {{entityCLassName}}Table.PRIMER_KEY;
const primerKey = {{entityCLassName}}Table.primerKey;