/**
* {{tableName}}-{{tableComment}}表列名接口定义，用于为某些类提供参数名限制
* @date {{date}}
* @author {{author}}
* @class {{entityCLassName}}ColNames
*/
export interface {{entityCLassName}}ColNames {
    {% for column in columns %}
    /**
     * @description {{column.COLUMN_COMMENT}}
     * @field {{column.COLUMN_NAME}}
     */
    {{column.COLUMN_NAME}}:{{column.JS_TYPE}},//
    {% endfor %}
}
/**
* {{tableName}}-{{tableComment}}表列名的属性名接口定义，用于为某些类提供参数名限制
* @date {{date}}
* @author {{author}}
* @class {{entityCLassName}}ColProps
*/
export interface {{entityCLassName}}ColProps {
    {% for column in columns %}
    /**
    * @description {{column.columnName}}
    * @field {{column.columnName}}
    */
    {{column.columnName}}:{{column.JS_TYPE}},//
    {% endfor %}
}
/**
* {{tableName}}-{{tableComment}}表列名
* @date {{date}}
* @author {{author}}
* @class {{className}}
*/
export enum {{entityCLassName}}ColNameEnum {
    {% for column in columns %}
    /**
     * @description {{column.COLUMN_COMMENT}}
     * @field {{column.COLUMN_NAME}}
     */
    {{column.COLUMN_NAME}}="{{column.COLUMN_NAME}}",//
    {% endfor %}
}
/**
* {{tableName}}-{{tableComment}}表列属性名
* @date {{date}}
* @author {{author}}
* @class {{className}}
*/
export enum {{entityCLassName}}ColPropEnum {
    {% for column in columns %}
    /**
    * @description {{column.columnName}}
    * @field {{column.columnName}}
    */
    {{column.columnName}}="{{column.columnName}}",//
    {% endfor %}
}
/**
* {{tableName}}-{{tableComment}}表信息
* @date {{date}}
* @author {{author}}
* @export
* @class {{entityCLassName}}Table
*/
export enum {{entityCLassName}}Table{
    /**
    * @description {{primerKey.COLUMN_NAME}}
    * @field PRIMER_KEY
    */
    PRIMER_KEY='{{primerKey.COLUMN_NAME}}',
    /**
    * @description {{primerKey.columnName}}
    * @field primerKey
    */
    primerKey='{{primerKey.columnName}}',
    /**
    * @description {{tableName}}
    * @field TABLE_NAME
    */
    TABLE_NAME='{{tableName}}',
    /**
    * @description {{entityCLassName}}
    * @field ENTITY_NAME
    */
    ENTITY_NAME='{{entityCLassName}}',
}

/**
 * {{tableName}}-列名数组
 * @author {{author}}
 * @date {{date}}
 **/
export const {{entityCLassName}}ColNames = Object.keys({{entityCLassName}}ColNameEnum);
/**
* {{tableName}}-列属性名数组
* @author {{author}}
* @date {{date}}
**/
export const {{entityCLassName}}ColProps = Object.keys({{entityCLassName}}ColPropEnum);
/**
* {{tableName}}-列名和列属性名映射表
* @author {{author}}
* @date {{date}}
**/
export const {{entityCLassName}}ColMap={names:{{entityCLassName}}ColNames,props:{{entityCLassName}}ColProps};