import { NestExpressApplication } from '@nestjs/platform-express';
{% for table in tables %}
{% if table.MODULE_NAME == moduleName %}
import { {{ table.ENTITY_CLASS_NAME }}Service } from './service/{{ table.ENTITY_FILE_NAME }}.service';
{% endif %}
{% endfor %}

/**
 * {{moduleName|upper}}模块服务类的静态引用
 * @date {{date}}
 * @author {{author}}
 **/
export class {{moduleName|title}}Services {
  {% for table in tables %}
  {% if table.MODULE_NAME == moduleName %}
  public static {{ table.tableName }}Service : {{ table.ENTITY_CLASS_NAME }}Service ;
  {% endif %}
  {% endfor %}

  /**
  * 初始化{{moduleName|upper}}模块服务类的静态引用
  * @date {{date}}
  * @author {{author}}
  **/
  static init(app: NestExpressApplication) {
    {% for table in tables %}
    {% if table.MODULE_NAME == moduleName %}
    this.{{ table.tableName }}Service = app.get({{ table.ENTITY_CLASS_NAME }}Service);
    {% endif %}
    {% endfor %}
  }
}