import { Module } from '@nestjs/common';
import { TypeOrmModule } from "@nestjs/typeorm";
import { ScheduleModule } from '@nestjs/schedule';
import { EventEmitterModule } from '@nestjs/event-emitter';
import { APP_INTERCEPTOR } from '@nestjs/core';
import { ErrorsInterceptor } from '../common/interceptor/errors.interceptor';
{% for table in tables %}
{% if table.MODULE_NAME == moduleName %}
import { {{ table.ENTITY_CLASS_NAME }}Controller } from './controller/{{ table.ENTITY_FILE_NAME }}.controller';
import { {{ table.ENTITY_CLASS_NAME }}Service } from './service/{{ table.ENTITY_FILE_NAME }}.service';
import { {{ table.ENTITY_CLASS_NAME }} } from "./entity/{{ table.ENTITY_FILE_NAME }}.entity";
{% endif %}
{% endfor %}

@Module({
    imports: [ScheduleModule.forRoot(),EventEmitterModule.forRoot(),TypeOrmModule.forFeature([{% for table in tables %}{% if table.MODULE_NAME == moduleName %}{{ table.ENTITY_CLASS_NAME }},{% endif %}{% endfor %}])],
    controllers: [{% for table in tables %}{% if table.MODULE_NAME == moduleName %}{{ table.ENTITY_CLASS_NAME }}Controller,{% endif %}{% endfor %}],
    providers: [{provide: APP_INTERCEPTOR,useClass: ErrorsInterceptor,},{% for table in tables %}{% if table.MODULE_NAME == moduleName %}{{ table.ENTITY_CLASS_NAME }}Service,{% endif %}{% endfor %}],
    exports: [{% for table in tables %}{% if table.MODULE_NAME == moduleName %}{{ table.ENTITY_CLASS_NAME }}Service,{% endif %}{% endfor %}],
})
export class {{className}} {}