import { PmsInfo } from '../../common/pms/pms.info';
{% for table in tables %}
{% if table.MODULE_NAME == moduleName %}
import { {{ table.TABLE_NAME }}_PMS } from './{{ table.ENTITY_FILE_NAME }}.pms';
{% endif %}
{% endfor %}

/**
 * 集中注册{{moduleName|upper}}模块的所有权限信息，用于自动化注册后端权限功能到数据库中，以便后续的功能授权
 * @date {{date}}
 * @author {{author}}
 **/
export const {{moduleName|upper}}_PMS : PmsInfo[] = [
  {% for table in tables %}{% if table.MODULE_NAME == moduleName %}
  {{ table.TABLE_NAME }}_PMS,{% endif %}
  {% endfor %}
];