import { ApiProperty, ApiPropertyOptional, ApiTags } from '@nestjs/swagger';
import { Type } from 'class-transformer';
import { {{entityCLassName}}ColNames,{{entityCLassName}}ColProps } from "../../entity/ddl/{{entityFileName}}.cols";

/**
 * {{tableComment||tableName}}表的QDTO对象
 * @date {{date}}
 * @author {{author}}
 * @export {{className}}QDto
 * @class {{className}}QDto
 */
@ApiTags('{{tableName}}表的QDTO对象')
export class {{className}}QDto {

    {% for column in columns %}
    /**
     * {{column.COLUMN_COMMENT || column.columnName}}
     *
     * @type { {{column.JS_TYPE}} }
     * @memberof {{className}}QDto
     */
    {% if addClassValidate && column.IS_NULLABLE == 'NO' %}
    @ApiProperty({ name: '{{column.columnName}}', type: '{{column.JS_TYPE}}', description: '{{column.COLUMN_COMMENT || column.columnName}}' })
    {% if column.JS_TYPE == 'Date' %}
    @Type(() => Date)
    {% endif %}
    {{column.columnName}} ?: {{column.JS_TYPE}};
    @ApiProperty({ name: 'n{{column.columnName}}', type: '{{column.JS_TYPE}}', description: '{{column.COLUMN_COMMENT || column.columnName}}' })
    {% if column.JS_TYPE == 'Date' %}
    @Type(() => Date)
    {% endif %}
    n{{column.columnName}} ?: {{column.JS_TYPE}};
    {% else %}
    @ApiPropertyOptional({ name: '{{column.columnName}}', type: '{{column.JS_TYPE}}', description: '{{column.COLUMN_COMMENT || column.columnName}}' })
    {% if column.JS_TYPE == 'Date' %}
    @Type(() => Date)
    {% endif %}
    {{column.columnName}} ?: {{column.JS_TYPE}};
    @ApiPropertyOptional({ name: 'n{{column.columnName}}', type: '{{column.JS_TYPE}}', description: '{{column.COLUMN_COMMENT || column.columnName}}' })
    {% if column.JS_TYPE == 'Date' %}
    @Type(() => Date)
    {% endif %}
    n{{column.columnName}} ?: {{column.JS_TYPE}};
    {% endif %}

    {% if column.IS_PRIMER_KEY %}
    @ApiPropertyOptional({ name: '{{column.columnName}}List', type: '{{column.JS_TYPE}}[]', description: '{{column.COLUMN_COMMENT || column.columnName}}-列表条件' })
    {{column.columnName}}List ?: {{column.JS_TYPE}}[];
    @ApiPropertyOptional({ name: 'n{{column.columnName}}List', type: '{{column.JS_TYPE}}[]', description: '{{column.COLUMN_COMMENT || column.columnName}}-列表条件' })
    n{{column.columnName}}List ?: {{column.JS_TYPE}}[];
    {% else %}
    {% if column.JS_TYPE == 'string' %}
    @ApiPropertyOptional({ name: '{{column.columnName}}Like', type: '{{column.JS_TYPE}}', description: '{{column.COLUMN_COMMENT || column.columnName}}-模糊条件' })
    {{column.columnName}}Like ?: {{column.JS_TYPE}};
    @ApiPropertyOptional({ name: '{{column.columnName}}List', type: '{{column.JS_TYPE}}[]', description: '{{column.COLUMN_COMMENT || column.columnName}}-列表条件' })
    {{column.columnName}}List ?: {{column.JS_TYPE}}[];
    @ApiPropertyOptional({ name: 'n{{column.columnName}}Like', type: '{{column.JS_TYPE}}', description: '{{column.COLUMN_COMMENT || column.columnName}}-模糊条件' })
    n{{column.columnName}}Like ?: {{column.JS_TYPE}};
    @ApiPropertyOptional({ name: 'n{{column.columnName}}List', type: '{{column.JS_TYPE}}[]', description: '{{column.COLUMN_COMMENT || column.columnName}}-列表条件' })
    n{{column.columnName}}List ?: {{column.JS_TYPE}}[];
    @ApiPropertyOptional({ name: '{{column.columnName}}LikeList', type: '{{column.JS_TYPE}}[]', description: '{{column.COLUMN_COMMENT || column.columnName}}-列表模糊条件' })
    {{column.columnName}}LikeList ?: {{column.JS_TYPE}}[];
    {% endif %}

    {% if column.JS_TYPE == 'Date' %}
    @ApiPropertyOptional({ name: 's{{column.COLUMN_CAML_CASE}}', type: '{{column.JS_TYPE}}', description: '{{column.COLUMN_COMMENT || column.columnName}}-起始日期' })
    @Type(() => Date)
    s{{column.COLUMN_CAML_CASE}} ?: {{column.JS_TYPE}};
    @ApiPropertyOptional({ name: 'e{{column.COLUMN_CAML_CASE}}', type: '{{column.JS_TYPE}}', description: '{{column.COLUMN_COMMENT || column.columnName}}-终止日期' })
    @Type(() => Date)
    e{{column.COLUMN_CAML_CASE}} ?: {{column.JS_TYPE}};
    {% endif %}

    {% if column.JS_TYPE == 'number' %}
    @ApiPropertyOptional({ name: 'min{{column.COLUMN_CAML_CASE}}', type: '{{column.JS_TYPE}}', description: '{{column.COLUMN_COMMENT || column.columnName}}-最小值' })
    min{{column.COLUMN_CAML_CASE}} ?: {{column.JS_TYPE}};
    @ApiPropertyOptional({ name: 'max{{column.COLUMN_CAML_CASE}}', type: '{{column.JS_TYPE}}', description: '{{column.COLUMN_COMMENT || column.columnName}}-最大值' })
    max{{column.COLUMN_CAML_CASE}} ?: {{column.JS_TYPE}};
    {% endif %}
    {% endif %}
    {% endfor %}

    /**
     * 分页查询记录数
     *
     * @type { number }
     * @memberof {{className}}QDto
     */
    @ApiProperty({ name: 'pageSize', type: 'number', description: '分页记录数' })
    pageSize?: number;

    /**
     * 记录偏移量
     *
     * @type { number }
     * @memberof {{className}}QDto
     */
    @ApiProperty({ name: 'offset', type: 'number', description: '记录偏移量' })
    offset?: number;

    /**
     * 记录排序，示例：SAM_KIND DESC,SAM_NAME ASC
     *
     * @type { string }
     * @memberof {{className}}QDto
     */
    @ApiProperty({ name: 'order', type: 'string', description: '排序' })
    order?: string;

    /**
    * 分组查询条件,例如：SAM_KIND
    *
    * @type { string }
    * @memberof {{className}}QDto
    */
    @ApiProperty({ name: 'group', type: 'string', description: '排序' })
    group?: string;

    /**
     * 结果列限定条件,在只想查询部分列数据时可以给定本参数
     *
     * @type { (keyof {{entityCLassName}}ColNames)[]|(keyof {{entityCLassName}}ColProps)[] }
     * @memberof {{entityCLassName}}QDto
     */
    @ApiProperty({ name: 'cols', type: 'string[]', description: '列名列表' })
    cols?:(keyof {{entityCLassName}}ColNames)[]|(keyof {{entityCLassName}}ColProps)[];

    /**
     * 对{cols}给定的列数据进行去重
     *
     * @type { boolean }
     * @memberof {{entityCLassName}}QDto
     */
    @ApiProperty({ name: 'distinct', type: 'boolean', description: '列去重' })
    distinct ? : boolean;
}