import { Injectable } from '@nestjs/common';
import { InjectRepository } from "@nestjs/typeorm";
import { Repository } from "typeorm";
import { {{entityCLassName}} } from "../entity/{{entityFileName}}.entity";
import { {{entityCLassName}}UDto } from "../dto/update/{{entityFileName}}.udto";
import { {{entityCLassName}}CDto } from "../dto/create/{{entityFileName}}.cdto";
import { {{entityCLassName}}QDto } from "../dto/query/{{entityFileName}}.qdto";
import { {{entityCLassName}}SQL } from '../entity/sql/{{entityFileName}}.sql';
import { uuid } from '../../common/utils/uuid.utils';
import {JsonUtils} from '../../common/typeorm/json.utils';

/**
* {{tableName}}表对应服务层类
* @date {{date}}
* @author {{author}}
* @export
* @class {{className}}
*/
@Injectable()
export class {{className}} {
    constructor(@InjectRepository({{entityCLassName}})private readonly entityRepo: Repository<{{entityCLassName}}>) {}

    /**
    * 获取实体类({{entityCLassName}})的Repository对象
    */
    get repository():Repository<{{entityCLassName}}> {
        return this.entityRepo;
    }

    /**
     * 查询所有记录
     */
    async findAll(): Promise<{{entityCLassName}}[]> {
        return await this.entityRepo.find();
    }

    /**
     * 条件查询记录
     * @param query
     */
    async findList(dto: {{entityCLassName}}QDto|Partial<{{entityCLassName}}QDto>): Promise<{{entityCLassName}}[]> {
        let querySql = {{entityCLassName}}SQL.SELECT_SQL(dto);
        return JsonUtils.format(await this.entityRepo.query(querySql));
    }

    /**
     * 查询ID对应记录
     * @param id
     */
    async findById(id: string): Promise<{{entityCLassName}}> {
        return await this.entityRepo.findOne(id);
    }

    /**
     * 查询ID对应记录
     * @param ids
     * @param cols
     */
    async findByIdList(ids: string[],cols=[]): Promise<{{entityCLassName}}[]> {
        let querySql = {{entityCLassName}}SQL.SELECT_BY_ID_LIST_SQL(ids, cols);
        return JsonUtils.format(await this.entityRepo.query(querySql));
    }

    /**
     * 分页查询记录
     * @param query
     */
    async findPage(query: {{entityCLassName}}QDto|Partial<{{entityCLassName}}QDto>): Promise<any> {
        let count: number = await this.count(query);
        query.offset = +(query.offset) || 0;
        query.pageSize = +(query.pageSize) || 20;
        query.offset = count < query.offset ? 0 : query.offset;
        if (count == 0) return { data: [], page: { count: 0, offset: query.offset, pageSize: query.pageSize } };
        let querySql = {{entityCLassName}}SQL.SELECT_SQL(query);
        let data = JsonUtils.format(await this.entityRepo.query(querySql));
        return { data, page: { count: +count, offset: query.offset, pageSize: query.pageSize } };
    }

    /**
    * 查询单条记录
    * @param dto
    */
    async findOne(dto: {{entityCLassName}}QDto|Partial<{{entityCLassName}}QDto>): Promise<{{entityCLassName}}> {
        dto.offset = 0;
        dto.pageSize = 1;
        let sql = {{entityCLassName}}SQL.SELECT_SQL(dto);
        return JsonUtils.first(await this.entityRepo.query(sql));
    }

    /**
     * 查询记录数
     * @param query
     */
    async count(query: {{entityCLassName}}QDto|Partial<{{entityCLassName}}QDto>): Promise<number> {
        let countSql = {{entityCLassName}}SQL.SELECT_COUNT_SQL(query);
        let result = JsonUtils.first(await this.entityRepo.query(countSql));
        return +(result.count) || 0;
    }

    /**
     * 删除指定ID记录
     * @param id
     */
    async deleteById(id: string): Promise<any> {
        return await this.entityRepo.delete({ {{primerKey.columnName}}: id });
    }

    /**
     * 删除指定ID记录列表
     * @param ids
     */
    async deleteByIdList(ids: string[]): Promise<any> {
        return await this.entityRepo.delete(ids);
    }

    /**
     * 条件查询记录
     * @param query
     */
    async delete(query: {{entityCLassName}}QDto|Partial<{{entityCLassName}}QDto>): Promise<any> {
        let deleteSql = {{entityCLassName}}SQL.DELETE_SELECTIVE_SQL(query);
        return JsonUtils.first(await this.entityRepo.query(deleteSql));
    }

    /**
    * 删除所有记录
    */
    async deleteAll(): Promise<any> {
        let deleteSql = {{entityCLassName}}SQL.DELETE_ALL_SQL();
        return JsonUtils.first(await this.entityRepo.query(deleteSql));
    }

    /**
    * 更新指定ID记录
    * @param dto
    */
    async updateSelective(dto: {{entityCLassName}}UDto|Partial<{{entityCLassName}}UDto>): Promise < any > {
        if(!dto.{{primerKey.columnName}} || dto.{{primerKey.columnName}}.length == 0)return {};
        let sql = {{entityCLassName}}SQL.UPDATE_BY_ID_SELECTIVE_SQL(dto);
        return JsonUtils.first(await this.entityRepo.query(sql));
    }

    /**
    * 批量更新指定ID记录，只更新给定对象中有值的属性
    * @param dtos
    */
    async updateListSelective(dtos: {{entityCLassName}}UDto[]|Partial<{{entityCLassName}}UDto>[]): Promise < any > {
        if (!dtos || dtos.length == 0) return [];
        dtos.forEach((dto) => {
            if (!dto.{{primerKey.columnName}}) dto.{{primerKey.columnName}} = uuid();
        });
        let results = [];
        await this.entityRepo.manager.transaction(async manager => {
            for (let dto of dtos) {
                let result = await this.updateSelective(dto);
                results.push(result);
            }
        });
        return results;
    }

    /**
    * 更新指定ID记录
    * @param dto
    */
    async update(dto: {{entityCLassName}}UDto|Partial<{{entityCLassName}}UDto>): Promise < any > {
        if(!dto.{{primerKey.columnName}} || dto.{{primerKey.columnName}}.length == 0)return {};
        let sql = {{entityCLassName}}SQL.UPDATE_BY_ID_SQL(dto);
        return JsonUtils.first(await this.entityRepo.query(sql));
    }

    /**
     * 更新指定ID列表记录
     * @param dto
     */
    async updateByIds(dto: {{entityCLassName}}UDto|Partial<{{entityCLassName}}UDto>): Promise < any > {
        if(!dto.{{primerKey.columnName}}List || dto.{{primerKey.columnName}}List.length == 0)return {};
        let sql = {{entityCLassName}}SQL.UPDATE_BY_IDS_SQL(dto);
        return JsonUtils.first(await this.entityRepo.query(sql));
    }

    /**
    * 批量更新指定ID记录，更新全部字段的值，若参数中未给值将会被清空
    * @param dtos
    */
    async updateList(dtos: {{entityCLassName}}UDto[]|Partial<{{entityCLassName}}UDto>[]): Promise < any > {
        if (!dtos || dtos.length == 0) return [];
        dtos.forEach((dto) => {
            if (!dto.{{primerKey.columnName}}) dto.{{primerKey.columnName}} = uuid();
        });
        let results = [];
        await this.entityRepo.manager.transaction(async manager => {
            for (let dto of dtos) {
                let result = await this.update(dto);
                results.push(result);
            }
        });
        return results;
    }

    /**
     * 创建新记录
     * @param dto
     */
    async create(dto: {{entityCLassName}}CDto|Partial<{{entityCLassName}}CDto>): Promise<{{entityCLassName}}CDto> {
        if (!dto.{{primerKey.columnName}}) {
            dto.{{primerKey.columnName}} = uuid();
        }
        let sql = {{entityCLassName}}SQL.INSERT_SQL(dto);
        return JsonUtils.first(await this.entityRepo.query(sql));
    }

    /**
     * 批量创建新记录
     * @param dto
     */
    async createList(dtos: {{entityCLassName}}CDto[]|Partial<{{entityCLassName}}CDto>[]): Promise<{{entityCLassName}}CDto[]> {
        if (!dtos || dtos.length == 0) return [];
        dtos.forEach((dto) => {
            if (!dto.{{primerKey.columnName}}) dto.{{primerKey.columnName}} = uuid();
        });
        let result = [];
        await this.entityRepo.manager.transaction(async manager => {
            let sql = {{entityCLassName}}SQL.BATCH_INSERT_SQL(dtos);
            result = JsonUtils.first(await this.entityRepo.query(sql));
        });
        return result;
    }
}