import { ApiProperty, ApiPropertyOptional, ApiTags } from '@nestjs/swagger';
import { {{entityCLassName}}ColNames } from "../../entity/ddl/{{entityFileName}}.cols";

/**
 * {{tableComment||tableName}}表的UDTO对象
 * @date {{date}}
 * @author {{author}}
 * @export {{className}}UDto
 * @class {{className}}UDto
 */
@ApiTags('{{tableName}}表的UDTO对象')
export class {{className}}UDto {

    {% for column in columns %}
    /**
     * {{column.COLUMN_COMMENT || column.columnName}}
     *
     * @type { {{column.JS_TYPE}} }
     * @memberof {{className}}UDto
     */
    {% if addClassValidate && column.IS_NULLABLE == 'NO' %}
    @ApiProperty({ name: '{{column.columnName}}', type: '{{column.JS_TYPE}}', description: '{{column.COLUMN_COMMENT || column.columnName}}' })
    {{column.columnName}}: {{column.JS_TYPE}};
    {% else %}
    @ApiPropertyOptional({ name: '{{column.columnName}}', type: '{{column.JS_TYPE}}', description: '{{column.COLUMN_COMMENT || column.columnName}}' })
    {{column.columnName}}?: {{column.JS_TYPE}};
    {% endif %}
    {% endfor %}

    /**
     * 更新列限定条件,在只想更新部分列数据时可以给定本参数
     *
     * @type { (keyof {{entityCLassName}}ColNames)[] }
     * @memberof {{entityCLassName}}UDto
     */
    @ApiProperty({ name: 'cols', type: 'string[]', description: '列名列表' })
    cols ? : (keyof {{entityCLassName}}ColNames)[];

    /**
     * ID列表
     *
     * @type { string[] }
     * @memberof {{entityCLassName}}UDto
     */
    @ApiProperty({ name: '{{primerKey.columnName}}List', type: 'string[]', description: 'ID列表' })
    {{primerKey.columnName}}List ? : string[];
}